/*
 * This is taken from the HTML5 Boilerplate
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
#sayso-onboard div, #sayso-onboard span, #sayso-onboard object, #sayso-onboard iframe, #sayso-onboard h1, #sayso-onboard h2, #sayso-onboard h3, #sayso-onboard h4, #sayso-onboard h5, #sayso-onboard h6, #sayso-onboard p, #sayso-onboard blockquote, #sayso-onboard pre, #sayso-onboard abbr, #sayso-onboard address, #sayso-onboard cite, #sayso-onboard code, #sayso-onboard del, #sayso-onboard dfn, #sayso-onboard em, #sayso-onboard img, #sayso-onboard ins, #sayso-onboard kbd, #sayso-onboard q, #sayso-onboard samp, #sayso-onboard small, #sayso-onboard strong, #sayso-onboard sub, #sayso-onboard sup, #sayso-onboard var, #sayso-onboard b, #sayso-onboard i, #sayso-onboard dl, #sayso-onboard dt, #sayso-onboard dd, #sayso-onboard ol, #sayso-onboard ul, #sayso-onboard li, #sayso-onboard fieldset, #sayso-onboard form, #sayso-onboard label, #sayso-onboard legend, #sayso-onboard table, #sayso-onboard caption, #sayso-onboard tbody, #sayso-onboard tfoot, #sayso-onboard thead, #sayso-onboard tr, #sayso-onboard th, #sayso-onboard td, #sayso-onboard article, #sayso-onboard aside, #sayso-onboard canvas, #sayso-onboard details, #sayso-onboard figcaption, #sayso-onboard figure, #sayso-onboard footer, #sayso-onboard header, #sayso-onboard hgroup, #sayso-onboard menu, #sayso-onboard nav, #sayso-onboard section, #sayso-onboard summary, #sayso-onboard time, #sayso-onboard mark, #sayso-onboard audio, #sayso-onboard video, #sayso-onboard-embed, #sayso-onboard-embed div, #sayso-onboard-embed p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 13px/1.231 sans-serif;
	vertical-align: baseline;
	outline: 0;
}
#sayso-onboard article, #sayso-onboard aside, #sayso-onboard details, #sayso-onboard figcaption, #sayso-onboard figure, #sayso-onboard footer, #sayso-onboard header, #sayso-onboard hgroup, #sayso-onboard menu, #sayso-onboard nav, #sayso-onboard section {
	display: block;
}
#sayso-onboard h1, #sayso-onboard h2, #sayso-onboard h3, #sayso-onboard h4, #sayso-onboard h5, #sayso-onboard h6 {
	font-weight: bold;
}
#sayso-onboard blockquote, #sayso-onboard q {
	quotes: none;
}
#sayso-onboard blockquote:before, #sayso-onboard blockquote:after, #sayso-onboard q:before, #sayso-onboard q:after {
	content: "";
	content: none;
}
#sayso-onboard ins {
	background-color: #ffff99;
	color: black;
	text-decoration: none;
}
#sayso-onboard mark {
	background-color: #ffff99;
	color: black;
	font-style: italic;
	font-weight: bold;
}
#sayso-onboard del {
	text-decoration: line-through;
}
#sayso-onboard abbr[title], #sayso-onboard dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
#sayso-onboard table {
	border-collapse: collapse;
	border-spacing: 0;
}
#sayso-onboard td {
	vertical-align: top;
}
#sayso-onboard hr {
	border: 0;
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}
#sayso-onboard input, select {
	vertical-align: middle;
}
/* Force scrollbar so you don't get jumping content */
html {
/*overflow-y: scroll;*/
}
/* Accessible focus treatment
 * people.opera.com/patrickl/experiments/keyboard/test */
#sayso-onboard a:hover, #sayso-onboard a:active, #sayso-onboard a:focus {
	outline: none;
}
/* Set sub, sup without affecting line-height: gist.github.com/413930 */
#sayso-onboard sub, #sayso-onboard sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}
#sayso-onboard sup {
	top: -0.5em;
}
#sayso-onboard sub {
	bottom: -0.25em;
}
/* Allow for code blocks to still wrap to the next line when using preformatted text:
 * http://pathf.com//blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
#sayso-onboard pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 15px;
}
/* Remove default textarea scrollbars on IE:
 * http://sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
#sayso-onboard textarea {
	overflow: auto;
}
/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz
 * http://tjkdesign.com/ez-css/css/base.css  */
#sayso-onboard input[type="radio"] {
	vertical-align: text-bottom;
	width:25px;
}
#sayso-onboard input[type="checkbox"] {
	vertical-align: bottom;
}
#sayso-onboard .ie7 input[type="checkbox"] {
	vertical-align: baseline;
}
#sayso-onboard .ie6 input {
	vertical-align: text-bottom;
}
/* Hand cursor on clickable input elements */
#sayso-onboard label, #sayso-onboard input[type="button"], #sayso-onboard input[type="submit"], #sayso-onboard input[type="image"], #sayso-onboard button {
	cursor: pointer;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
#sayso-onboard button, #sayso-onboard input, #sayso-onboard select, #sayso-onboard textarea {
	margin: 0;
}
/* Make buttons play nice in IE:
 * www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
#sayso-onboard button {
	width: auto;
	overflow: visible;
}
/* Bicubic resizing for non-native sized IMG:
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
#sayso-onboard .ie7 img {
	-ms-interpolation-mode: bicubic;
}
/* Normalize monospace sizing:
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
#sayso-onboard pre, #sayso-onboard code, #sayso-onboard kbd, #sayso-onboard samp {
	font-family: monospace, sans-serif;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
 * www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden
 * Extend to allow the element to be focusable when navigated to via the keyboard
 * drupal.org/node/897638 */
/* Colors for form validity http://www.whatwg.org/specs/web-apps/current-work/multipage/links.html */
#sayso-onboard input:invalid, #sayso-onboard textarea:invalid {
 border-radius: 1px;
 -moz-box-shadow: 0px 0px 5px red;
 -webkit-box-shadow: 0px 0px 5px red;
 box-shadow: 0px 0px 5px red;
}
#sayso-onboard .no-boxshadow input:invalid, #sayso-onboard .no-boxshadow textarea:invalid {
 background-color: #f0dddd;
}

/* Vendor-specific pseudo-class declarations have to be separated */
::-moz-selection {
 background: #eaeaea;
 color: black;
 text-shadow: none;
}

::selection {
 background: #eaeaea;
 color: black;
 text-shadow: none;
}
/* Font normalization inspired by YUI Library's fonts.css
 * developer.yahoo.com/yui/
 * #444444 looks better than black
 * twitter.com/H_FJ/statuses/11800719859 */

#sayso-onboard select, #sayso-onboard input, #sayso-onboard textarea, #sayso-onboard button {
	font: 99% sans-serif;
}

#sayso-onboard input {
	width:330px;
}
#sayso-onboard button {
	width:225px;
}

/* Webkit tap highlight
 * j.mp/webkit-tap-highlight-color */
#sayso-onboard a:link {
	-webkit-tap-highlight-color: #ff5e99;
}
/* DONE RESETTING */

/* BEGIN FORMATTING */
#sayso-onboard{
	display: block;
	position: absolute;
	z-index: 9999;
	background-image: url('../images/bg_page.png');
	background-repeat: repeat;
}

#sayso-onboard #sso_wrapper{
	width: 600px;
	height: 450px;

	background-position: 0px bottom;
	background-repeat: no-repeat;
	background-color: #fff;
	border: 1px solid #9d9d9d;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -215px 0px 0px -300px;
	display: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#sayso-onboard #sso_wrapper #sso_close{
	width: 14px;
	height: 13px;
	position: absolute;
	font-size: 11px;
	top: 10px;
	right: 10px;
	background-color: #666;
	color: #fff;
	line-height: 11px;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor: pointer;
	z-index: 9999;
}

#sayso-onboard #sso_wrapper .sso_main-image{
	position: absolute;
	right: -140px;
	top: -10px;
	z-index: 9999;
	width: 250px;
	height: 490px;
	background-image: url('../images/img_guitar_green.png');
	background-repeat: no-repeat;
}

#sayso-onboard #sso_wrapper .sso_content{
	padding: 50px 20px 0px 20px;
	position: relative;
	text-align: center;
}

#sayso-onboard #sso_wrapper #sso_logo{
	position: absolute;
	z-index: 0;
	top: 10px;
	width: 100%;
	text-align: center;
}

#sayso-onboard #sso_wrapper .alignLeft{
	float: left;
}

#sayso-onboard #sso_wrapper .alignRight{
	float: right;
}

#sayso-onboard #sso_wrapper h1{
	font-size: 30px;
	color: #0099CF;
	font-weight: bold;
	line-height: normal;
	margin: 5px 0 -5px 0;
}

#sayso-onboard #sso_wrapper h2{
	font-size: 24px;
	color: #0099CF;
	font-weight: bold;
	line-height: normal;
	margin: 0px;
}

#sayso-onboard #sso_wrapper h3{
	font-size: 17px;
	color: #333537;
	font-weight: normal;
	line-height: normal;
	margin: 15px 0 0 0;
}

#sayso-onboard #sso_wrapper h4 strong,
#sayso-onboard #sso_wrapper h3 strong,
#sayso-onboard #sso_wrapper h2 strong{
	font-size: inherit;
	font-weight: bold;
	color:#99C93B;
}

#sayso-onboard #sso_wrapper h4{
	font-size: 15px;
	color: #333537;
	font-weight: normal;
	line-height: 17px;
/*	letter-spacing: 1px;*/
	margin: 5px 0px;
}

#sayso-onboard #sso_wrapper p{
	font-size: 15px;
	margin: 10px 0px;
	color: #333537;
}

#sayso-onboard #sso_wrapper a{
	color: #333537;
	text-decoration: underline;
}


#sayso-onboard #sso_wrapper a:hover{
	text-decoration: none;
}

#sayso-onboard #sso_wrapper input.input_text{
	padding: 5px 2px;
	border: 1px solid #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	width: 200px;
}

#sayso-onboard #sso_wrapper .sso_theme_button{
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	font-weight: normal;
	text-decoration: none;
	color: #fff !important;
	padding: 2px 30px;
	font-size: 12px;
	position: relative;
	border: none;

background-image: linear-gradient(bottom, rgb(13,150,209) 0%, rgb(58,161,213) 50%, rgb(141,196,226) 75%);
background-image: -o-linear-gradient(bottom, rgb(13,150,209) 0%, rgb(58,161,213) 50%, rgb(141,196,226) 75%);
background-image: -moz-linear-gradient(bottom, rgb(13,150,209) 0%, rgb(58,161,213) 50%, rgb(141,196,226) 75%);
background-image: -webkit-linear-gradient(bottom, rgb(13,150,209) 0%, rgb(58,161,213) 50%, rgb(141,196,226) 75%);
background-image: -ms-linear-gradient(bottom, rgb(13,150,209) 0%, rgb(58,161,213) 50%, rgb(141,196,226) 75%);




	/*background-color: #0081c5;*/
	display: inline-block;
}

#sayso-onboard #sso_wrapper .sso_theme_button_disabled{
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-weight: normal;
	text-decoration: none;
	padding: 2px 30px;
	font-size: 12px;
	position: relative;
	border: thin solid #d4d5d7;
	background-image: linear-gradient(bottom, rgb(168,168,168) 0%, rgb(183,183,183) 50%, rgb(236,236,236) 75%);
background-image: -o-linear-gradient(bottom, rgb(168,168,168) 0%, rgb(183,183,183) 50%, rgb(236,236,236) 75%);
background-image: -moz-linear-gradient(bottom, rgb(168,168,168) 0%, rgb(183,183,183) 50%, rgb(236,236,236) 75%);
background-image: -webkit-linear-gradient(bottom, rgb(168,168,168) 0%, rgb(183,183,183) 50%, rgb(236,236,236) 75%);
background-image: -ms-linear-gradient(bottom, rgb(168,168,168) 0%, rgb(183,183,183) 50%, rgb(236,236,236) 75%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(168,168,168)),
	color-stop(0.5, rgb(183,183,183)),
	color-stop(0.75, rgb(236,236,236))
);
	cursor: default;
}

#sayso-onboard #sso_wrapper .sso_theme_buttonXL{
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: thin solid #d4d5d7;
	padding: 2px 30px;
	font-size: 20px;
	font-weight: bold;
}

#sayso-onboard #sso_wrapper .sso_textHighlight{
	color: #bdd93b;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}

#sayso-onboard #sso_wrapper .sso_textError{
	color: #F00;
	font-size: 11px;
	letter-spacing: 0px;
	line-height: normal !important;
	font-weight: normal;
	margin: 0px;
}
#sayso-onboard .sso_hidden{
	display: none;
}

#sayso-get-app img {
	margin:20px;
}

#sayso-onboard #sso_wrapper h2#sso_protected {
	color: #0099CF;
	font-size:17px;
	margin-bottom:30px;
}

#sayso-onboard #sso_wrapper p.sso_noshare_notice {
	margin-top:35px;
	font-size:small;
	font-weight:strong;
}

#sayso-onboard #sso_wrapper h2#sso_allow_install_text {
	margin-top:130px;
}

#sayso-onboard #sso_wrapper #sso_form_flds {
	margin:0 auto;
	text-align:right;
	width:450px;
}