@import "mixins";

@base-image-url: "../../images/";

a, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, em, img, small, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {
    .reset;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

#loading {
    display: none;
}

#content {
//    position: fixed;
//    display: block;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    min-width: 1024px;
//    min-height: 720px;

    .preloader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1024px; //FIX THIS
        background-color: rgb(96,172,175);
        z-index: 1000;
        text-align: center;

        span {
            line-height: 800px; //FIX THIS
            font-family: "brandon-grotesque",sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 100px;
            color: white;
        }
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        min-width: 1024px;
        z-index: 100;
        background-color: rgba(228, 234, 233, .85);

        .nav_active {
            position: absolute;
            top: 0;
            left: 450px;
            width: 56px;
            height: 28px;
            background-image: url('@{base-image-url}Nav_Arrow.png');
        }

        .links {
            width: 1024px;
            margin: 0 auto;
            padding-left: 400px;

            a {
                display: block;
                text-decoration: none;
                float: left;
                width: auto;
                margin: 40px 30px 0px 30px;
                height: 100%;

                span {
                    font-family: "brandon-grotesque",sans-serif;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    color: #2a2a2a;

                    &:hover {
                        color: rgb(96,172,175);
                    }
                }
            }
        }

    }

    .badge {
        position: fixed;
        top: 0;
        left: 100px;
        width: 165px;
        height: 201px;
        background-image: url('@{base-image-url}logo_flag.png');
        z-index: 100;
    }
    .scenes {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        list-style: none;

        li {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
        }

        .scene_01 {

            .celeb {
                position: fixed;
                background-image: url('@{base-image-url}bg/celeb_splash.png');
                width: 100%;
                height: 100%;
                background-color: black;
                overflow: hidden;

                .amy {
                    position: absolute;
                    background-image: url('@{base-image-url}celebs/Amy.png');
                    top: 75px;
                    left: 400px;
                    width: 588px;
                    height: 779px;
                    z-index: 3;
                }

                .brett {
                    position: absolute;
                    background-image: url('@{base-image-url}celebs/Brett.png');
                    top: 400px;
                    left: 250px;
                    width: 406px;
                    height: 445px;
                    z-index: 7;
                }

                .bruno {
                    position: absolute;
                    background-image: url('@{base-image-url}celebs/Bruno.png');
                    top: 75px;
                    left: 1100px;
                    width: 228px;
                    height: 339px;
                    z-index: 1;
                }

                .david {
                    position: absolute;
                    background-image: url('@{base-image-url}celebs/David.png');
                    top: 300px;
                    left: 20px;
                    width: 228px;
                    height: 314px;
                    z-index: 6;
                }

                .justin {
                    position: absolute;
                    background-image: url('@{base-image-url}celebs/Justin.png');
                    top: 120px;
                    left: 80px;
                    width: 268px;
                    height: 495px;
                    z-index: 2;
                }

                .kobe {
                    position: absolute;
                    background-image: url('@{base-image-url}celebs/Kobe.png');
                    top: 300px;
                    left: 800px;
                    width: 448px;
                    height: 619px;
                    z-index: 5;
                }

                .rihanna {
                    position: absolute;
                    background-image: url('@{base-image-url}celebs/Rihanna.png');
                    top: 75px;
                    left: 800px;
                    width: 299px;
                    height: 486px;
                    z-index: 4;
                }

                .selena {
                    position: absolute;
                    background-image: url('@{base-image-url}celebs/Selena.png');
                    top: 400px;
                    left: 1000px;
                    width: 369px;
                    height: 525px;
                    z-index: 10;
                }

                .serena {
                    position: absolute;
                    background-image: url('@{base-image-url}celebs/Serena.png');
                    top: 475px;
                    left: 20px;
                    width: 441px;
                    height: 587px;
                    z-index: 9;
                }

                .tiger {
                    position: absolute;
                    background-image: url('@{base-image-url}celebs/Tiger.png');
                    top: 10px;
                    left: 20px;
                    width: 740px;
                    height: 567px;
                    z-index: 1;
                }

                .tina {
                    position: absolute;
                    background-image: url('@{base-image-url}celebs/Tina.png');
                    top: 400px;
                    left: 700px;
                    width: 360px;
                    height: 491px;
                    z-index: 6;
                }
            }

            .celeb_banner {
                position: absolute;
                width: 100%;
                top: 50%;
                height: 300px;
                margin-top: -150px;
                z-index: 8;

                .celeb_msg_one {
                    margin: 20px auto 0 auto;
                    width: 700px;

                    div {
                        font-family: "sorts-mill-goudy",serif;
                        font-style: normal;
                        font-weight: 500;
                        opacity: 0;
                        color: white;
                        text-align: center;
                        font-size: 40px;
                    }
                }

                .celeb_msg_two {
                    margin: -140px auto 0 auto;
                    width: 800px;

                    div {
                        font-family: "sorts-mill-goudy",serif;
                        font-style: normal;
                        font-weight: 500;
                        opacity: 0;
                        color: white;
                        text-align: center;
                        font-size: 40px;
                    }
                }

                .celeb_msg_three {
                    margin: -180px auto 0 auto;
                    width: 900px;

                    div {
                        font-family: "sorts-mill-goudy",serif;
                        font-style: normal;
                        font-weight: 500;
                        opacity: 0;
                        color: white;
                        text-align: center;
                        font-size: 40px;
                    }
                }

                .fanatomy_logo_main {
                    background-image: url('@{base-image-url}logo_with_tag.png');
                    width: 602px;
                    height: 149px;
                    margin: 0 auto;
                    opacity: 0;
                    margin-top: -200px;
                }
                .next_message {
                    background-image: url('@{base-image-url}scroll_button.png');
                    width: 72px;
                    height: 71px;
                    margin: 65px auto 0 auto;

                    &:hover {
                        background-image: url('@{base-image-url}scroll_button_active.png');
                    }
                }
            }
        }
    }
}