/*
    Document   : cms
    Created on : Mar 29, 2012, 3:22:01 PM
    Author     : Peter Connolly
    Description:
        CSS for the Sayso CMS system
*/

.readonly {
    background-color:#cccccc;
}
#ui-datepicker-div.ui-widget-content {
    border:none;
}

#easyTooltip{
    padding:8px;
    border:1px solid #ccc;
    background:#00AFF0;
}

/* Set the size of icons used in the CMS for CRUD operations */
img.icon {
    width:16px;
}

/*
    Document   : surveys
    Created on : Mar 23, 2012, 11:54:21 AM
    Author     : Pete
    Description:
        Layout stylesheet for Surveys controller
*/

body {
    font-family: arial, sans-serif;
    font-size:11px;
}

#layout {
width: 800px;
height: 600px;
margin: 0 auto;
border: solid black thin;
overflow-y: scroll;
padding: 0 10px;
}

th {
    color:#fff;
    background-color:#28B2D3;
}

.odd {
    background-color:#DFDFDF;
}

.even {
    background-color:#f0f0f0;
}
td {
    padding:0 5px;
}

#list tr {
	background-color:white;

}
#list td {
	border-left:thin solid #a8d8eb;
}
#list td:last-child {
	border-right:thin solid #a8d8eb;
}
#list tr.alt {
	background-color:#eee;
}
#list tr:hover td {
	background-color:#d5effc;

}
#list tr:first-child td {
	background-color:#ccc;

}
#list tr:last-child td {
	background-color:#ccc;

}
#list table {
    width:750px;
}
a,
a:active,
a:visited{
    color:#6b7885;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

.common ul,
.common li {
    display:inline;
}
/*
#main dl {

}
#main dt, #main dd {
    float:left;

}

#main dt {
    width:30%;
    font-weight:bold;
    text-align:right;
    padding:6px 5px 0 0;
}
#main dd {
    width:65%;
    margin-left:0;
}
*/
dl.zend dt, dd { min-height: 30px; }
dl.zend_form dt {
    float: left;
    clear: left;
    text-align: right;
    width:110px;
    margin-top:6px;
}
dl.zend_form dt label.required { font-weight: 600; }
dl.zend_form dd {
    float: left;
    clear: right;
    margin-left: 5px;
}

dl.zend_form dd ul.errors {
    list-style: none;
    padding: 0;
    margin: 0;
}

dl.zend_form dd ul.errors li {
    float: left;
    margin: 0 0.15em;
    font-size: 12px;
    color: #666666;
}

.error {
    font-weight:bold;
    color:red;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/*#surveys .col1 {
    width:370px;
}

#surveys .col2 {
    width:35px;
}

#surveys .col3 {
    width:102px;
}
#surveys .col4 {
    width:35px;
}
*/
/* Turn off filtering for unwanted fields */
#filter_allowedlist
{
    display:none;
}

.system-message {
    color:red;
}
.newlink {
	padding-left:41px;
	padding: 9px 9px 0 9px;
}

/* Set the width of the first three columns in the grid */
#list table td:first-child,
#list table td:first-child + td,
#list table td:first-child + td + td {
	width:15px;
}

/* Hide the first Delete button*/
#list table td:first-child,
#list table th:first-child {
	/*background-color:coral;*/
	/*display:none;*/
}

/* Set the width of the 4th*/

#filter_idlist {
	width:30px;
	text-align:center;
}

/* Menu CMS */
.cmsMenu ul {position:absolute;  margin:0; padding:0; list-style:none; white-space:nowrap; background:#5b80c2; border:1px solid #fff; padding: 10px 0; text-align:left;
-o-border-radius: 10px;
-ms-border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-o-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
-ms-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.cmsMenu ul ul {left:100%; margin-top:-36px; margin-left:-5px;}
.cmsMenu li {margin:0; padding:0; list-style:none; display:inline-block; display:inline;}
.cmsMenu a {display:block; font:normal 12px arial,sans-serif; color:#fff; line-height:17px; text-decoration:none; padding:0 20px 0 10px;}

.cmsMenu li a.a-top,
.cmsMenu li a.a-sub {background:url(/images/icons/arrow-right.gif) no-repeat right center;}

.cmsMenu li.clicked > a {background-color:#3563B7;}

.cmsMenu {padding:0; margin:0; list-style:none; text-align:left; position:relative; background:#5b80c2; height:19px;}
.cmsMenu > li > a {display:inline-block; margin-right:-5px; height:18px;}
.cmsMenu > li {position:relative; display:inline-block;}

.cmsMenu > li {*display:inline;}
.cmsMenu > li > ul {top:18px; left:-1px;}

.cmsMenu ul {display:none;}

.cmsMenu .nolink {background-color:lightgrey}

body .ui-widget {
	font-family:arial, sans-serif;
	font-size:11px;
}

body .ui-widget-content a {
	color:#6b7885;
}

.clear {
	clear:both;
}

#tabs img {border:none}
.counter { font-size:xx-small;color:blue;}
.sb_surveys_complete,
.sb_social_activity {
	padding:5px;
	background-color:#85B5D9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #800000;
	width:300px;
	margin:10px;
}
.sb_social_activity {
	width:600px;
}
.sb_level {
	vertical-align:middle;
}
#div_results #emailaddress {
	width:200px;
	padding:2px 5px;
	margin-left:10px;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	background-color:#6FA7D1;
	border: 1px solid #A6C9E2;
	color:white;
	font-weight:bold;
}

.sb_media .col1 {
	max-width:155px;
	overflow:hidden;
}
.sb_media .col2 {
	max-width:265px;
	overflow:hidden;
}
.sb_media .col3 {
	max-width:105px;
	overflow:hidden;
}

.sb_leveltitle {
	font-size:x-large;
	vertical-align:top;
	color:#5B80C2;
}
.sb_points {
	font-size:x-large;
	vertical-align:top;
	color:#5B80C2;
	margin-left:20px;
}
.sb_currency {
	font-size:x-large;
	vertical-align:top;
	color:#5B80C2;
	margin-left:20px;
}

#sb_overview {
	padding:5px;
	background-color:#85B5D9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #800000;
	width:300px;
	margin:10px;
	color:white;
}