#sayso-starbar #starbar-player-console{
	background-image: url('../images/hellomusic/bg_bar.png');
}

/* turn off starbar type background + switcher */
#sayso-starbar #starbar-player-console #starbar-type .sb_changeTheme{
	display: none;
}

/* starbar type logo + content area */
#sayso-starbar #starbar-player-console #starbar-type .sb_logo{
	width: 78px;
	height: 37px;
	margin: 5px 0px 0px 0px;
}

#sayso-starbar #starbar-player-console #starbar-type .sb_userImg{
	width: 32px;
	height: 35px;
	position: absolute;
	left: 100px;
	top: 22px;
	cursor: pointer;
}

#sayso-starbar #starbar-player-console #starbar-type .sb_content{
	width: 82px;
	top: 22px;
}

#sayso-starbar #starbar-player-console #starbar-type .sb_content h2{
	font-size: 13px;
}

#sayso-starbar #starbar-player-console #starbar-type .sb_content img{
	float: left;
	margin: 0px 5px 0px 0px;
}


/* special color classes */
#sayso-starbar #starbar-player-console .sb_theme_navOnGradient{
	background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.22, rgb(102,102,102)),
    color-stop(0.61, rgb(255,255,255)));
	background-image: -moz-linear-gradient(
			center top,
			rgb(102,102,102) 22%,
			rgb(255,255,255) 61%);
	background-color# ccc;
}

#sayso-starbar #starbar-player-console .sb_theme_bgGradient, 
#sayso-starbar .sb_ui-progressbar .sb_ui-progressbar-value,
#sayso-starbar #starbar-player-console .sb_theme_button{
	background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.22, rgb(22,141,202)),
    color-stop(0.61, rgb(7,61,89)));
	background-image: -moz-linear-gradient(
			center top,
			rgb(22,141,202) 22%,
			rgb(7,61,89) 61%);
	background-color: #0081c5;
}

#sayso-starbar #starbar-player-console .sb_theme_button_flat{
	background-color: #627484;
	padding: 3px 5px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none !important;
}

#sayso-starbar #starbar-player-console .sb_theme_button .sb_imgNote{
	position: absolute;
	top: -8px;
	left: -14px;
}

#sayso-starbar #starbar-player-console .sb_theme_textHighlight{
	color: #0082c5 !important;
	text-shadow: none !important;
}

#sayso-starbar #starbar-player-console .sb_theme_bgGlow{
  -moz-box-shadow: 0px 0px 5px #0081c5;
  -webkit-box-shadow: 0px 0px 5px #0081c5;
  box-shadow: 0px 0px 5px #0081c5;
}

#sayso-starbar #starbar-player-console .sb_theme_iconChange{
	background-image: url('../images/hellomusic/img_change.png');
	background-repeat: no-repeat;
	background-position: right 3px;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	padding: 0px 13px 0px 0px;
}

/* promo area */

#sayso-starbar #starbar-player-console #starbar-promo{
	z-index: 1000;
	position: absolute;
	left: 606px;
	bottom: 0;
	height: 53px;
}

/* user level / progress area */

#sayso-starbar #starbar-player-console #starbar-level{
	z-index: 1000;
	position: absolute;
	left: 770px;
	bottom: 0;
	height: 53px;
	width: 140px;
	background-image: url('../images/generic/bg_divider.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
}

#sayso-starbar #starbar-player-console #starbar-level .sb_content{
	padding: 6px 0px 0px 10px;
	position: relative;
}

#sayso-starbar #starbar-player-console #starbar-level .sb_popContent .sb_user-level{
	text-align: center;
}

#sayso-starbar #starbar-player-console #starbar-level .sb_popContent .sb_user-level, 
#sayso-starbar #starbar-player-console #starbar-level .sb_popContent .sb_user-level span{	
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

#sayso-starbar #starbar-player-console #starbar-level .sb_user-level-box{
	
}

#sayso-starbar #starbar-player-console #starbar-points{
	z-index: 1000;
	position: absolute;
	left: 920px;
	bottom: 0;
	height: 53px;
	width: 80px;
	background-image: url('../images/generic/bg_divider.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
}

#sayso-starbar #starbar-player-console #starbar-points .sb_content{
	margin: 8px 0px 0px 5px;
	position: relative;
}


/* REUSABLE: user level box and user score */

#sayso-starbar #starbar-player-console .sb_user-level-box{
	height: 27px;
	position: relative;
	display: block;
	margin: 0px 0px 0px 0px;
}

#sayso-starbar #starbar-player-console .sb_user-points-box{
	height: 30px;
	width: 75px;
	position: relative;
	display: block;
	padding: 12px 0px 0px 0px;
}

#sayso-starbar #starbar-player-console .sb_user-level-box .sb_user-level-star{
	position: absolute;
	z-index: 1000;
	top: -5px;
	left: 0;
	background-image: url('../images/hellomusic/img_star.png');
	width: 27px;
	height: 27px;
}

#sayso-starbar #starbar-player-console .sb_user-points-box .sb_imgNote{
	position: absolute;
	z-index: 1000;
	top: 2px;
	left: 0;
}

#sayso-starbar .sb_user-level-box .sb_progressBar,
#sayso-starbar .sb_user-points-box .sb_progressBar{
	border: 2px solid #fff;
	margin: 5px 3px 0px 13px;
	position: relative;
	-moz-box-shadow: 0px 0px 2px #666;
  -webkit-box-shadow: 0px 0px 2px #666;
  box-shadow: 0px 0px 2px #666;
}

#sayso-starbar .sb_user-level-box .sb_progressBar .sb_progressBarValue{
	top: 1px;
}

/* JQUERY OVERRIDES */


/* FORMATTING AND COLOR SETTINGS */

/* everything that has textcolor */

#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-tabs-selected a, 
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-state-disabled a, 
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-state-processing a,
#sayso-starbar a, #sayso-starbar a:link, 
#sayso-starbar a:active, 
#sayso-starbar a:visited,
#sayso-starbar h3.sb_title,
#sayso-starbar h2.sb_title,
#sayso-starbar #starbar-player-console .sb_outlineList li h3{
	color: #0081c5;
}

/* other special formatting styles */

#sayso-starbar h2.sb_title{
	text-transform: uppercase;
}

#sayso-starbar #starbar-player-console .sb_pointsEarned{	
	background-image: url('../images/hellomusic/img_note_sm.png');
}

#sayso-starbar #starbar-player-console .sb_imgNote{	
	background-image: url('../images/hellomusic/img_note.png');
	width: 26px;
	height: 37px;
	display: inline-block;
}

/* POPBOX SPECIFIC STYLES */


/* surveys */

#sayso-starbar #sb_popBox_surveys .sb_theme_button{
	padding-left: 15px;
	margin: 5px 0px 5px 10px;
}

/* daily deals */

#sayso-starbar #sb_popBox_daily-deals.sb_popBox{
	left: -128px;
}

#sayso-starbar #sb_popBox_daily-deals.sb_popBox .sb_popBoxInner .sb_popContent{
	width: 755px;
	height: auto;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals{
	text-align: center;
  width: 100%;
	overflow: hidden;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals li{
	display: inline-block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 185px;
	text-align: left;
	color: #fff;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals li .sb_dealInfo{
	background-color: #161a1e;
	margin: -5px 0px 0px 0px;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals li a{
	text-decoration: none;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals li .sb_dealInfo p{
	padding: 5px;
	position: relative;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals li img.sb_dealImage{
	position: relative;
	width: 185px;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals li .sb_dealStatus{
	font-size: 12px;
	font-weight: bold;
	display: block;
	padding: 4px;
	text-align: right;
	color: #fff;
	text-transform: uppercase;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals li .sb_dealStatusBG{
	opacity: 0.8;
	position: absolute;
	z-index: 9999;
	top: 75px;
	left: 0;
	width: 100%;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals li .sb_dealStatusBG_orange{
	background-color: #C60;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals li .sb_dealStatusBG_red{
	background-color: #900;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals li .sb_dealPrice{
	font-size: 14px;
	font-weight: bold;
	margin: 2px 0px;
	text-transform: uppercase;
	display: block;
	clear: both;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals li .sb_dealMsrp{
	font-size: 11px;
	margin: 2px 0px;
	color: #ccc;
	display: block;
	clear: both;
}

#sayso-starbar #sb_popBox_daily-deals ul.sb_listDeals li a.sb_theme_button_flat{
	position: absolute;
	bottom: 5px;
	right: 5px;
}

/* user level */

#sayso-starbar #sb_popBox_user-level img.sb_imgCurrentLevel{
	margin: -5px 10px 0px 0px;
}

#sayso-starbar #sb_popBox_user-level .sb_userLevelColor1{
	color: #980752;
	text-transform: uppercase;
	font-weight: bold;
	font-size: inherit;
}

#sayso-starbar #sb_popBox_user-level .sb_userLevelColor2{
	color: #1751a5;
	text-transform: uppercase;
	font-weight: bold;
	font-size: inherit;
}

#sayso-starbar #sb_popBox_user-level .sb_userLevelColor3{
	color: #8ca406;
	text-transform: uppercase;
	font-weight: bold;
	font-size: inherit;
}

#sayso-starbar #sb_popBox_user-level small.sb_nextLevel{
	top: -5px;
	left: 15px;
	position: relative;
}

#sayso-starbar #sb_popBox_user-level ul.sb_userLevels{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#sayso-starbar #sb_popBox_user-level ul.sb_userLevels li{
	border: none;
	padding: 0;
	margin: 0;
	width: 33%;
	float: left;
	font-size: 11px!important;
	font-weight: bold;
	opacity: 0.5;
	text-align: center;
}

#sayso-starbar #sb_popBox_user-level ul.sb_userLevels li.sb_unlockedLevel{
	opacity: 1;
}

#sayso-starbar #sb_popBox_user-level table.sb_table_rewards{
	width: 100%;
}

#sayso-starbar #sb_popBox_user-level table.sb_table_rewards thead th{
	font-size: 13px;
	font-weight: bold !important;
	text-align: left;
}

#sayso-starbar #sb_popBox_user-level table.sb_table_rewards thead th span{	
	font-weight: bold !important;
}

#sayso-starbar #sb_popBox_user-level table.sb_table_rewards .sb_points{
	text-align: right;
}

#sayso-starbar #sb_popBox_user-level table.sb_table_rewards td{
	font-size: 11px !important;
	padding: 3px 0px;
	color: #999;
}

#sayso-starbar #sb_popBox_user-level table.sb_table_rewards tr.sb_unlockedReward td{
	color: #111;
}

#sayso-starbar #sb_popBox_user-level table.sb_table_rewards tr.sb_unlockedReward td a{
	
}

/* POSITION ALL OF THE POPBOX TRIANGLES */


/* surveys */

#sayso-starbar #sb_popBox_surveys.sb_triangle-border:before,
#sayso-starbar #sb_popBox_surveys_lg.sb_triangle-border:before{
	left: 115px;
}
#sayso-starbar #sb_popBox_surveys.sb_triangle-border:after,
#sayso-starbar #sb_popBox_surveys_lg.sb_triangle-border:after{
	left: 116px;
}
#sayso-starbar #sb_popBox_surveys .sb_triangle-solid:after,
#sayso-starbar #sb_popBox_surveys_lg .sb_triangle-solid:after{
	left: 113px;
}

/* daily deals */

#sayso-starbar #sb_popBox_daily-deals.sb_triangle-border:before{
	left: 340px;
}
#sayso-starbar #sb_popBox_daily-deals.sb_triangle-border:after{
	left: 341px;
}
#sayso-starbar #sb_popBox_daily-deals .sb_triangle-solid:after{
	left: 338px;
}

/* user levels */

#sayso-starbar #starbar-player-console #sb_popBox_user-level.sb_popBox{
	left: -307px;
}

#sayso-starbar #sb_popBox_user-level.sb_triangle-border:before{
	left: 370px;
}
#sayso-starbar #sb_popBox_user-level.sb_triangle-border:after{
	left: 371px;
}
#sayso-starbar #sb_popBox_user-level .sb_triangle-solid:after{
	left: 368px;
}

/* promo */

#sayso-starbar #starbar-player-console #sb_popBox_promo.sb_popBox{
	left: -148px;
}

#sayso-starbar #sb_popBox_promo.sb_triangle-border:before{
	left: 225px;
}
#sayso-starbar #sb_popBox_promo.sb_triangle-border:after{
	left: 226px;
}
#sayso-starbar #sb_popBox_promo .sb_triangle-solid:after{
	left: 223px;
}
