/*
 * This is taken from the HTML5 Boilerplate
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
#sayso-starbar div, #sayso-starbar span, #sayso-starbar object, #sayso-starbar iframe, #sayso-starbar h1, #sayso-starbar h2, #sayso-starbar h3, #sayso-starbar h4, #sayso-starbar h5, #sayso-starbar h6, #sayso-starbar p, #sayso-starbar blockquote, #sayso-starbar pre, #sayso-starbar abbr, #sayso-starbar address, #sayso-starbar cite, #sayso-starbar code, #sayso-starbar del, #sayso-starbar dfn, #sayso-starbar em, #sayso-starbar img, #sayso-starbar ins, #sayso-starbar kbd, #sayso-starbar q, #sayso-starbar samp, #sayso-starbar small, #sayso-starbar strong, #sayso-starbar sub, #sayso-starbar sup, #sayso-starbar var, #sayso-starbar b, #sayso-starbar i, #sayso-starbar dl, #sayso-starbar dt, #sayso-starbar dd, #sayso-starbar ol, #sayso-starbar ul, #sayso-starbar li, #sayso-starbar fieldset, #sayso-starbar form, #sayso-starbar label, #sayso-starbar legend, #sayso-starbar table, #sayso-starbar caption, #sayso-starbar tbody, #sayso-starbar tfoot, #sayso-starbar thead, #sayso-starbar tr, #sayso-starbar th, #sayso-starbar td, #sayso-starbar article, #sayso-starbar aside, #sayso-starbar canvas, #sayso-starbar details, #sayso-starbar figcaption, #sayso-starbar figure, #sayso-starbar footer, #sayso-starbar header, #sayso-starbar hgroup, #sayso-starbar menu, #sayso-starbar nav, #sayso-starbar section, #sayso-starbar summary, #sayso-starbar time, #sayso-starbar mark, #sayso-starbar audio, #sayso-starbar video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 13px/1.231 sans-serif;
	vertical-align: baseline;
	outline: 0;
}
#sayso-starbar article, #sayso-starbar aside, #sayso-starbar details, #sayso-starbar figcaption, #sayso-starbar figure, #sayso-starbar footer, #sayso-starbar header, #sayso-starbar hgroup, #sayso-starbar menu, #sayso-starbar nav, #sayso-starbar section {
	display: block;
}
#sayso-starbar h1, #sayso-starbar h2, #sayso-starbar h3, #sayso-starbar h4, #sayso-starbar h5, #sayso-starbar h6 {
	font-weight: bold;
}
#sayso-starbar blockquote, #sayso-starbar q {
	quotes: none;
}
#sayso-starbar blockquote:before, #sayso-starbar blockquote:after, #sayso-starbar q:before, #sayso-starbar q:after {
	content: "";
	content: none;
}
#sayso-starbar ins {
	background-color: #ffff99;
	color: black;
	text-decoration: none;
}
#sayso-starbar mark {
	background-color: #ffff99;
	color: black;
	font-style: italic;
	font-weight: bold;
}
#sayso-starbar del {
	text-decoration: line-through;
}
#sayso-starbar abbr[title], #sayso-starbar dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
#sayso-starbar table {
	border-collapse: collapse;
	border-spacing: 0;
}
#sayso-starbar td {
	vertical-align: top;
}
#sayso-starbar hr {
	border: 0;
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}
#sayso-starbar input, select {
	vertical-align: middle;
}
/* Force scrollbar so you don't get jumping content */
html {
/*overflow-y: scroll;*/
}
/* Accessible focus treatment
 * people.opera.com/patrickl/experiments/keyboard/test */
#sayso-starbar a:hover, #sayso-starbar a:active, #sayso-starbar a:focus {
	outline: none;
}
/* Set sub, sup without affecting line-height: gist.github.com/413930 */
#sayso-starbar sub, #sayso-starbar sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}
#sayso-starbar sup {
	top: -0.5em;
}
#sayso-starbar sub {
	bottom: -0.25em;
}
/* Allow for code blocks to still wrap to the next line when using preformatted text:
 * http://pathf.com//blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
#sayso-starbar pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 15px;
}
/* Remove default textarea scrollbars on IE:
 * http://sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
#sayso-starbar textarea {
	overflow: auto;
}
/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz
 * http://tjkdesign.com/ez-css/css/base.css  */
#sayso-starbar input[type="radio"] {
	vertical-align: text-bottom;
}
#sayso-starbar input[type="checkbox"] {
	vertical-align: bottom;
}
#sayso-starbar .ie7 input[type="checkbox"] {
	vertical-align: baseline;
}
#sayso-starbar .ie6 input {
	vertical-align: text-bottom;
}
/* Hand cursor on clickable input elements */
#sayso-starbar label, #sayso-starbar input[type="button"], #sayso-starbar input[type="submit"], #sayso-starbar input[type="image"], #sayso-starbar button {
	cursor: pointer;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
#sayso-starbar button, #sayso-starbar input, #sayso-starbar select, #sayso-starbar textarea {
	margin: 0;
}
/* Make buttons play nice in IE:
 * www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
#sayso-starbar button {
	width: auto;
	overflow: visible;
}
/* Bicubic resizing for non-native sized IMG:
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
#sayso-starbar .ie7 img {
	-ms-interpolation-mode: bicubic;
}
/* Normalize monospace sizing:
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
#sayso-starbar pre, #sayso-starbar code, #sayso-starbar kbd, #sayso-starbar samp {
	font-family: monospace, sans-serif;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
 * www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden
 * Extend to allow the element to be focusable when navigated to via the keyboard
 * drupal.org/node/897638 */
/* Colors for form validity http://www.whatwg.org/specs/web-apps/current-work/multipage/links.html */
#sayso-starbar input:invalid, #sayso-starbar textarea:invalid {
 border-radius: 1px;
 -moz-box-shadow: 0px 0px 5px red;
 -webkit-box-shadow: 0px 0px 5px red;
 box-shadow: 0px 0px 5px red;
}
#sayso-starbar .no-boxshadow input:invalid, #sayso-starbar .no-boxshadow textarea:invalid {
 background-color: #f0dddd;
}

/* Vendor-specific pseudo-class declarations have to be separated */
::-moz-selection {
 background: #eaeaea;
 color: black;
 text-shadow: none;
}

::selection {
 background: #eaeaea;
 color: black;
 text-shadow: none;
}
/* Font normalization inspired by YUI Library's fonts.css
 * developer.yahoo.com/yui/
 * #444444 looks better than black
 * twitter.com/H_FJ/statuses/11800719859 */

#sayso-starbar select, #sayso-starbar input, #sayso-starbar textarea, #sayso-starbar button {
	font: 99% sans-serif;
}
/* Webkit tap highlight
 * j.mp/webkit-tap-highlight-color */
#sayso-starbar a:link {
	-webkit-tap-highlight-color: #ff5e99;
}
/* DONE RESETTING */

/* BEGIN FORMATTING */

#sayso-starbar {
	color: #fff;
 font: 13px/1.sb_231 sans-serif;
	margin: 0 auto;
	padding: 0 20px;
	width: 960px;
	background: none;
}
#sayso-starbar strong {
	font-weight: bold;
}
#sayso-starbar em {
	font-style: italic;
}
#sayso-starbar h1 {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
#sayso-starbar h1:active, #sayso-starbar h1:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
#sayso-starbar h2 {
	color: #303030;
	font-weight: normal;
	margin: 0 0 5px 0;
	font-size: 15px;
	font-weight: bold;
}
#sayso-starbar a, #sayso-starbar a:link, #sayso-starbar a:active, #sayso-starbar a:visited {
	color: #1a8fbb;
	text-decoration: none;
}
#sayso-starbar a:hover {
	text-decoration: underline;
}
#sayso-starbar .sb_starbar-contain {
}
#sayso-starbar #starbar-player-console {
	background-image: url('../images/bg_bar.png');
	background-repeat: repeat-x;
	background-position: 0px bottom;
	bottom: 0px;
	color: #fff;
	left: 0;
	min-height: 70px;
	right: 0;
	position: fixed;
	z-index: 1000;
}
/* define the console / sub-items for various states */

#sayso-starbar #starbar-player-console.sb_starbar-visOpen {
	width: 100%;
}
#sayso-starbar #starbar-player-console.sb_starbar-visStowed {
	width: 45px;
}
#sayso-starbar #starbar-player-console.sb_starbar-visClosed {
	width: 100px;
}
/* container elements */

#sayso-starbar #starbar-wrapper {
	width: 1000px;
	margin: 0px auto;
	position: relative;
}
#sayso-starbar #starbar-player-console.sb_starbar-visClosed #starbar-wrapper, #sayso-starbar #starbar-player-console.sb_starbar-visStowed #starbar-wrapper {
	width: 100%;
}
#sayso-starbar #starbar-wrapper #starbar-main {
	width: 900px;
}
/* starbar visibility + logo controls */

#sayso-starbar #starbar-visControls {
	position: relative;
	width: 100px;
	height: 70px;
	display: block;
}
#sayso-starbar #starbar-player-console.sb_starbar-visClosed #starbar-visControls, #sayso-starbar #starbar-player-console.sb_starbar-visStowed #starbar-visControls {
	width: 100%;
}
#sayso-starbar #starbar-player-console #starbar-toggleVis {
	cursor: pointer;
	background-repeat: no-repeat;
	height: 14px;
	display: block;
	text-indent: -9999px;
	top: 3px;
	position: absolute;
}
#sayso-starbar #starbar-player-console #starbar-toggleVis.sb_btnStarbar-open {
	background-image: url('../images/generic/img_hide.png');
	width: 44px;
}
#sayso-starbar #starbar-player-console #starbar-toggleVis.sb_btnStarbar-closed {
	background-image: url('../images/generic/img_close.png');
	width: 51px;
	margin: 0px 0px 0px -4px;
}
#sayso-starbar #starbar-player-console #starbar-toggleVis.sb_btnStarbar-stowed {
	background: none;
}
#sayso-starbar #starbar-player-console #sb_starbar-logo {
	background-image: url('../images/generic/logo_sayso.png');
	background-repeat: no-repeat;
	background-position: 10px 0px;
	width: 100%;
	height: 35px;
	display: inline-block;
	text-indent: -9999px;
	cursor: pointer;
	position: absolute;
	top: 25px;
	left: 0px;
}
#sayso-starbar #starbar-player-console #sb_starbar-logo:hover {
	background-position: 10px -35px;
}
#sayso-starbar #starbar-player-console.sb_starbar-visClosed #sb_starbar-logo {
	background-position: 3px 0px;
}
#sayso-starbar #starbar-player-console.sb_starbar-visClosed #sb_starbar-logo:hover {
	background-position: 3px -35px;
}
#sayso-starbar #starbar-player-console.sb_starbar-visStowed #sb_starbar-logo {
	background-image: url('../images/generic/logo_sayso_sm.png');
	background-repeat: no-repeat;
	background-position: 5px 6px;
	width: 100%;
	height: 35px;
}
#sayso-starbar #starbar-player-console #sb_starbar-logoBorder {
	height: 53px;
	width: 10px;
	background-color: #000;
	position: absolute;
	bottom: 0;
	right: 0px;
	z-index: -1;
	display: none;
}
/* STARBAR TYPE */

#sayso-starbar #starbar-player-console #starbar-type {
	width: 240px;
	height: 70px;
	position: absolute;
	top: 0;
	left: 100px;
	z-index: 1000;
	background-image: url('../images/generic/bg_starbar-type.png');
}
#sayso-starbar #starbar-player-console #starbar-type .sb_inner {
	position: relative;
}
#sayso-starbar #starbar-player-console #starbar-type .sb_changeTheme {
	border-radius: 3px 3px 0px 0px;
	height: 14px;
	width: 217px;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.22, rgb(6,106,145)), color-stop(0.61, rgb(9,54,77)));
	background-image: -moz-linear-gradient( center top, rgb(6,106,145) 22%, rgb(9,54,77) 61%);
	background-color: #084865;
	position: absolute;
	z-index: 1;
	top: 11px;
	left: 9px;
	overflow: hidden;
}
#sayso-starbar #starbar-player-console #starbar-type .sb_changeTheme span {
	background-image: url('../images/generic/icon_change.png');
	background-repeat: no-repeat;
	background-position: right 50%;
	height: 14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 0px 15px 0px 10px;
	font-size: 10px;
	text-align: right;
	margin: 0px 5px 0px 0px;
	float: right;
	cursor: pointer;
}
#sayso-starbar #starbar-player-console #starbar-type .sb_logo {
	width: 70px;
	height: 48px;
	z-index: 100;
	position: absolute;
	top: 17px;
	left: 15px;
}
#sayso-starbar #starbar-player-console #starbar-type .sb_content {
	color: #fff;
	font-size: 11px;
	position: absolute;
	width: 125px;
	height: 35px;
	top: 20px;
	right: 20px;
}
#sayso-starbar #starbar-player-console #starbar-type .sb_content h2, #sayso-starbar #starbar-player-console #starbar-type .sb_content a {
	color: #fff;
}
/* VARIOUS ALERTS AND POSITIONING */

#sayso-starbar #starbar-player-console .sb_starbar-alert {
	width: 218px;
	background-image: url('../images/generic/bg_alert_starbar-reg.png');
	background-repeat: no-repeat;
	position: absolute;
	z-index: -9999;
	display:none;
}
#sayso-starbar #starbar-player-console .sb_starbar-alert-wide {
	width: 260px;
	background-image: url('../images/generic/bg_alert_starbar-wide.png');
}
#sayso-starbar #starbar-player-console #starbar-alert-new.sb_starbar-alert {
	bottom: 64px;
	left: 108px;
}
#sayso-starbar #starbar-player-console #starbar-alert-earned.sb_starbar-alert {
	bottom: 53px;
	right: 0px;
}
#sayso-starbar #starbar-player-console .sb_starbar-alert .sb_inner {
	position: relative;
	margin: 8px 8px 0px 8px;
}
#sayso-starbar #starbar-player-console .sb_starbar-alert .sb_inner .sb_content {
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 2px 5px;
	text-align: center;
	font-size: 11px;
}
#sayso-starbar #starbar-player-console .sb_starbar-alert .sb_inner .sb_content a {
	text-align: center;
	display: block;
	margin: 0px 5px 0px 0px;
	font-size: 11px;
	color: #fff;
}
#sayso-starbar #starbar-player-console .sb_starbar-alert .sb_inner .sb_content a.sb_alert-arrow {
	background-image: url('../images/generic/img_arrow_white.png');
	background-repeat: no-repeat;
	background-position: right 50%;
	padding: 0px 15px 0px 0px;
	display: inline-block;
}
#sayso-starbar #starbar-player-console .sb_theme_bgAlertRed {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.22, rgb(191,46,20)), color-stop(0.61, rgb(145,8,35)));
	background-image: -moz-linear-gradient( center top, rgb(191,46,20) 22%, rgb(145,8,35) 61%);
	background-color: #a2161d;
}
#sayso-starbar #starbar-player-console .sb_theme_bgAlertGreen {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.22, rgb(80,145,55)), color-stop(0.61, rgb(4,67,25)));
	background-image: -moz-linear-gradient( center top, rgb(80,145,55) 22%, rgb(4,67,25) 61%);
	background-color: #256927;
}
/* NAVIGATION */

#sayso-starbar #starbar-player-console .sb_nav_element {
	cursor: pointer;
	text-decoration: none;
}
#sayso-starbar #starbar-player-console #starbar-nav {
	position: absolute;
	z-index: 10;
	background-color: #060;
	left: 331px;
	bottom: 0;
	height: 53px;
	display: inline;
}
#sayso-starbar #starbar-player-console #starbar-nav > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#sayso-starbar #starbar-player-console #starbar-nav > ul > li {
	margin: 0;
	padding: 0;
	float: left;
	border-right: 1px solid #000;
}
#sayso-starbar #starbar-player-console #starbar-nav ul li span.sb_nav_element {
	display: inline-block;
	padding: 0px 0px;
	height: 53px;
	background-position: center 18px;
	background-repeat: no-repeat;
	position: relative;
	cursor: pointer;
}
#sayso-starbar #starbar-player-console #starbar-nav ul li span.sb_nav_border {
	background-color: #333333;
	text-indent: -9999px;
	height: 8px;
	display: block;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	margin: 0px 0px;
}
#sayso-starbar #starbar-player-console #starbar-nav ul li#nav_polls span.sb_nav_element {
	background-image: url('../images/generic/nav_polls.png');
	width: 74px;
}
#sayso-starbar #starbar-player-console #starbar-nav ul li#nav_surveys span.sb_nav_element {
	background-image: url('../images/generic/nav_surveys.png');
	width: 97px;
}
#sayso-starbar #starbar-player-console #starbar-nav ul li#nav_daily-deals span.sb_nav_element {
	background-image: url('../images/generic/nav_daily-deals.png');
	width: 101px;
}
/* POP BOX STYLES */

#sayso-starbar #starbar-player-console .sb_popBox {
	position: absolute;
	background-color: #383838;
	z-index: 5000;
	bottom: 70px;
	left: 0;
	display: none;
	text-align: left;
}
#sayso-starbar #starbar-player-console .sb_popBox .sb_popBoxInner {
	position: relative;
	margin: 5px;
	padding: 5px;
	background-color: #fff;
	box-shadow: 0px 0px 3px #000000;
	-moz-box-shadow: 0px 0px 3px #000000;
	-webkit-box-shadow: 0px 0px 3px #000000;
	font-size: 11px;
	line-height: 15px;
	color: #404040;
}
#sayso-starbar #starbar-player-console .sb_popBox .sb_popBoxInner .sb_popContent {
	padding: 5px 5px 5px 10px !important;
	background-color: #f3f3f3;
	height: 270px;
	width: 500px;
}
#sayso-starbar #starbar-player-console .sb_popBox .sb_popBoxInner .sb_popContent p {
	margin: 5px 0px 5px 0px;
	line-height: 18px;
}
#sayso-starbar #starbar-player-console .sb_popBox .sb_header {
	overflow: hidden;
	margin-bottom: 10px;
}
#sayso-starbar #starbar-player-console .sb_popBox .sb_header img {
	display: inline-block;
	vertical-align: text-bottom;
}
#sayso-starbar #starbar-player-console .sb_scrollPane {
	width: 100%;
	height: 200px;
	overflow: auto;
}
#sayso-starbar .sb_alignLeft {
	float: left;
}
#sayso-starbar .sb_alignRight {
	float: right;
}
#sayso-starbar .sb_boxShadow {
	box-shadow: 0px 0px 3px #666;
	-mox-box-shadow: 0px 0px 3px #666;
	-webkit-box-shadow: 0px 0px 3px #666;
}
#sayso-starbar #starbar-player-console .sb_popBox .sb_header h2 {
	display: inline-block;
}
#sayso-starbar #starbar-player-console iframe {
	border: none;
	padding: 0;
	margin: 0;
}
/* larger popboxes */
#sayso-starbar #starbar-player-console .sb_popBox.sb_popBoxLg .sb_popBoxInner .sb_popContent {
	height: 380px;
}
#sayso-starbar #starbar-player-console .sb_popBox.sb_popBoxLg .sb_header {
	padding: 8px 5px 4px 5px;
	margin: 0;
}
/* CUSTOM POPBOX STYLINGS */


/* polls */
#sayso-starbar #starbar-player-console #sb_popBox_polls .sb_pollImage {
	float: left;
	width: 35px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 3px #999;
	-moz-box-shadow: 0px 0px 3px #999;
	-webkit-box-shadow: 0px 0px 3px #999;
}
#sayso-starbar #starbar-player-console #sb_popBox_polls .sb_pollContent {
	margin-left: 50px;
}
#sayso-starbar #starbar-player-console #sb_popBox_polls .sb_pollContent .sb_pollResultList {
	overflow: hidden;
	margin: 5px 0px;
}
#sayso-starbar #starbar-player-console #sb_popBox_polls .sb_pollContent .sb_pollChoice {
	width: 20%;
	float: left;
	text-align: right;
	margin: 0px 10px 0px 0px;
}
#sayso-starbar #starbar-player-console #sb_popBox_polls .sb_pollContent .sb_progressBar {
	float: left;
	width: 65%;
	position: relative;
}
#sayso-starbar #starbar-player-console #sb_popBox_polls .sb_pollContent .sb_progressBar .sb_progressBarValue {
	text-align: left;
	width: auto;
	left: 100%;
	margin: 0px 0px 0px 10px;
	text-shadow: none;
}
/* surveys */

/* about say.so */

#sayso-starbar #starbar-player-console #sb_popBox_about-saySo {
	bottom: 100px;
	left: 210px;
}
#sayso-starbar #starbar-player-console #sb_popBox_about-saySo .sb_popContent {
	width: 520px;
	height: 340px;
}
#sayso-starbar #starbar-player-console #sb_popBox_about-saySo .sb_header {
	margin: -15px 0px 0px 0px;
	padding: 10px 10px 0px 10px;
	background-color: #383838;
}
#sayso-starbar #starbar-player-console #sb_popBox_about-saySo .sb_ui-tabs .sb_ui-tabs-nav li a {
	font-weight: normal;
	color: #ffffff;
	font-size: 14px;
}
#sayso-starbar #starbar-player-console #sb_popBox_about-saySo .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-tabs-selected a {
	color: #3bccea;
}
#sayso-starbar #starbar-player-console #sb_popBox_about-saySo .sb_ui-tabs h2 {
	margin: 12px 0px;
	color: #075879;
	font-weight: normal;
	font-size: 18px;
}
#sayso-starbar #starbar-player-console #sb_popBox_about-saySo .sb_ui-tabs p {
	margin: 12px 0px;
}
/* TRIANGLES */

#sayso-starbar #starbar-player-console .sb_triangle-border {
	border: 1px solid #000;
	box-shadow: 0px 0px 5px #333333;
	-moz-box-shadow: 0px 0px 5px #333333;
	-webkit-box-shadow: 0px 0px 5px #333333;
}
#sayso-starbar #starbar-player-console .sb_triangle-border:before {
	content:"";
	position:absolute;
	bottom:-7px; /* value = - border-top-width - border-bottom-width */
	left:30px; /* controls horizontal position */
	border-width:7px 7px 0;
	border-style:solid;
	border-color:#000 transparent;
	/* reduce the damage in FF3.sb_0 */
  	display:block;
	width:0;
}
/* creates the smaller  triangle */
#sayso-starbar #starbar-player-console .sb_triangle-border:after {
	content:"";
	position:absolute;
	bottom: -6px; /* value = - border-top-width - border-bottom-width */
	left:31px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	border-width: 6px 6px 0;
	border-style:solid;
	border-color:#383838 transparent;
	/* reduce the damage in FF3.sb_0 */
    display:block;
	width:0;
}
#sayso-starbar #starbar-player-console .sb_triangle-solid {
}
#sayso-starbar #starbar-player-console .sb_triangle-solid:after {
	content:"";
	position:absolute;
	bottom:-4px; /* value = - border-top-width - border-bottom-width */
	left:28px; /* controls horizontal position */
	border-width:4px 4px 0; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f3f3f3 transparent;
	/* reduce the damage in FF3.sb_0 */
  display:block;
	width:0;
}
/*

JQUERY-UI

bringing in elements from jquery-ui smoothness theme and overriding.sb_

*/

/* ui-tabs */

#sayso-starbar #starbar-player-console .sb_ui-tabs {
	position: relative;
	zoom: 1;
	display: block;
} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
	float: right;
	position: absolute;
	z-index: 9999;
	top: -40px;
	right: 0;
}
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	margin: 0px 0px;
	border: none;
	padding: 0;
	white-space: nowrap;
	border-left: 1px solid #999;
}
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li:first-child {
	border: none;
}
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li a {
	float: left;
	padding: 0px 8px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li a:hover {
	color: #333;
}
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-tabs-selected {
	margin-bottom: 0;
	padding-bottom: 0px;
}
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-tabs-selected a, #sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-state-disabled a, #sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-state-processing a {
	cursor: text;
	color: #1a8fbb;
}
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li a, #sayso-starbar #starbar-player-console .sb_ui-tabs.sb_ui-tabs-collapsible .sb_ui-tabs-nav li.sb_ui-tabs-selected a {
	cursor: pointer;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere.sb_.sb_.sb_ */
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 0;
	background: none;
	width: 100%;
}
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-hide {
	display: none !important;
}
/* ui-accordion */
/*
 * jQuery UI Accordion 1.sb_8.sb_16
 *
 * Copyright 2011, AUTHORS.sb_txt (http://jqueryui.sb_com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.sb_
 * http://jquery.sb_org/license
 *
 * http://docs.sb_jquery.sb_com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
#sayso-starbar #starbar-player-console .sb_ui-accordion {
	width: 100%;
	margin: 10px 0px;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header {
	cursor: pointer;
	position: relative;
	margin-top: 5px;
	zoom: 1;
	border: 1px solid #c7c7c7;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-li-fix {
	display: inline;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-state-active {
	border-bottom: 0 !important;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header.sb_ui-state-hover {
	background-color: #f2e4ba;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header.sb_ui-state-active.sb_ui-state-hover {
	background: none;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header a {
	display: block;
	padding: 3px 8px;
	font-size: 15px;
	text-decoration: none !important;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header .sb_ui-icon {
	float: right;
	background-repeat: no-repeat;
	background-position: right 2px;
	padding: 0px 20px 2px 0px;
	margin: 2px 4px 0 0;
	height: 18px;
	font-weight: bold;
	font-size: 15px;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header .sb_ui-icon-triangle-1-s {
	background-image: url('../images/generic/img_arrow_accordion_open.png');
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header .sb_ui-icon-triangle-1-e {
	background-image: url('../images/generic/img_arrow_accordion_closed.png');
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header .sb_questionValue {
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header .sb_questionValue_open {
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-content {
	padding: 3px 8px;
	border-top: 0;
	margin-top: -2px;
	position: relative;
	top: 1px;
	margin-bottom: 2px;
	overflow: auto;
	display: none;
	zoom: 1;
	border: 1px solid #c7c7c7;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-content-active {
	display: block;
	border-top: 0 !important;
}
/* extra bits added to the accordion */

#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header .sb_questionCount {
	display: none;
	color: #333;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	width: 50px;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header .sb_questionCount .sb_questionCurrent {
	font-weight: bold;
	font-size: 12px;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-state-active.sb_ui-accordion-header .sb_questionCount {
	display: inline-block;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header .sb_questionValue {
	float: right;
	background-image: url('../images/generic/img_arrow_accordion_closed.png');
	background-repeat: no-repeat;
	background-position: right 2px;
	padding: 0px 20px 2px 0px;
	height: 16px;
	font-weight: bold;
	font-size: 15px;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion .sb_ui-accordion-header .sb_questionValue_open {
	background-image: url('../images/generic/img_arrow_accordion_open.png');
}
#sayso-starbar #starbar-player-console .sb_ui-accordion.sb_pollQuestion, #sayso-starbar #starbar-player-console .sb_ui-accordion.sb_pollResult {
	background-color: #e5e5e5;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion.sb_pollQuestion h3 a, #sayso-starbar #starbar-player-console .sb_ui-accordion.sb_pollResult h3 a {
	cursor: default;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion.sb_pollQuestion .sb_ui-accordion-header, #sayso-starbar #starbar-player-console .sb_ui-accordion.sb_pollQuestion .sb_ui-accordion-content, #sayso-starbar #starbar-player-console .sb_ui-accordion.sb_pollResult .sb_ui-accordion-header, #sayso-starbar #starbar-player-console .sb_ui-accordion.sb_pollResult .sb_ui-accordion-content {
	border: none;
}
#sayso-starbar #starbar-player-console .sb_ui-accordion.sb_pollQuestion .sb_ui-accordion-header .sb_questionValue, #sayso-starbar #starbar-player-console .sb_ui-accordion.sb_pollResult .sb_ui-accordion-header .sb_questionValue {
	display: none;
}
/*
 * jQuery UI Progressbar 1.8.13
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Progressbar#theming
 */
#sayso-starbar .sb_ui-progressbar {
	height: 14px;
	text-align: left;
	background-color: #ccc;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow:inset 0 0 5px #999;
	-moz-box-shadow:inset 0 0 5px #999;
	-webkit-box-shadow:inset 0 0 5px #999;
}
#sayso-starbar .sb_ui-progressbar .sb_ui-progressbar-value {
	margin: 0px -1px;
	height:100%;
}
#sayso-starbar .sb_ui-progressbar .sb_ui-progressbar-value {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.22, rgb(6,106,145)), color-stop(0.61, rgb(9,54,77)));
	background-image: -moz-linear-gradient( center top, rgb(6,106,145) 22%, rgb(9,54,77) 61%);
	background-color: #084865;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#sayso-starbar .sb_ui-progressbar .sb_progressBarPercent {
	display: none;
}
#sayso-starbar .sb_ui-progressbar .sb_progressBarValue {
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 11px !important;
	font-weight: bold !important;
	color: #000;
	text-shadow: 1px 1px 0px #fff;
}
#sayso-starbar .sb_ui-progressbar .sb_progressBarValue_revert {
	color: #fff;
	text-shadow: 1px 1px 0px #000;
}
#sayso-starbar .sb_progressBar_grey.sb_ui-progressbar .sb_ui-progressbar-value {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.22, rgb(180,180,180)), color-stop(0.61, rgb(140,140,140)));
	background-image: -moz-linear-gradient( center top, rgb(180,180,180) 22%, rgb(140,140,140) 61%);
	background-color: #666;
}
#sayso-starbar .sb_progressBar {
	position: relative;
}
/* Component containers
----------------------------------*/

.sb_ui-widget-content {
	border: 1px solid #aaaaaa;
	color: #222222;
}
.sb_ui-widget-content a {
	color: #222222;
}
.sb_ui-widget-header {
	border: 1px solid #aaaaaa;
	color: #222222;
	font-weight: bold;
}
.sb_ui-widget-header a {
	color: #222222;
}
/* FORMATTING AND COLOR SETTINGS */

/* everything that has textcolor */

#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-tabs-selected a, #sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-state-disabled a, #sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-state-processing a, #sayso-starbar a, #sayso-starbar a:link, #sayso-starbar a:active, #sayso-starbar a:visited, #sayso-starbar h3.sb_title, #sayso-starbar h2.sb_title, #sayso-starbar #starbar-player-console .sb_outlineList li h3 {
	color: #1a8fbb;
}
#sayso-starbar h2.sb_titlePlain {
	font-size: 14px !important;
	color: #333 !important;
	font-weight: normal !important;
	text-transform: none !important;
}
/* other special formatting styles */

#sayso-starbar h3 {
	font-size: 13px;
	display: block;
}
#sayso-starbar small {
	font-size: 11px;
}
#sayso-starbar h2.sb_title {
	text-transform: uppercase;
}
#sayso-starbar .sb_column50BG {
	overflow: hidden;
	background-image: url('../images/generic/bg_column50.png');
	background-repeat: repeat-y;
	background-position: center top;
}
#sayso-starbar .sb_column6040BG {
	overflow: hidden;
	background-image: url('../images/generic/bg_column50.png');
	background-repeat: repeat-y;
	background-position: 60% top;
}
#sayso-starbar .sb_column50 {
	width: 50%;
	float: left;
}
#sayso-starbar .sb_column50BG .sb_column50 {
	width: 48%;
}
#sayso-starbar .sb_column50BG .sb_column50:last-child {
	float: right;
	width: 47%;
	margin: 0px 5px 0px 0px;
}
#sayso-starbar .sb_column60 {
	width: 60%;
	float: left;
}
#sayso-starbar .sb_column40 {
	width: 40%;
	float: left;
}
#sayso-starbar .sb_column6040BG .sb_column60 {
	width: 58%;
}
#sayso-starbar .sb_column6040BG .sb_column40 {
	float: right;
	width: 37%;
	margin: 0px 5px 0px 0px;
}
#sayso-starbar .sb_column50 h2, #sayso-starbar .sb_column60 h2, #sayso-starbar .sb_column40 h2 {
	text-transform: none;
}
#sayso-starbar .sb_column50 .sb_header, #sayso-starbar .sb_column60 .sb_header, #sayso-starbar .sb_column40 .sb_header {
	border-bottom: 1px solid #929292;
}
#sayso-starbar #starbar-player-console .sb_theme_iconChange {
	background-image: url('../images/generic/img_change.png');
	background-repeat: no-repeat;
	background-position: right 3px;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	padding: 0px 13px 0px 0px;
}
#sayso-starbar #starbar-player-console .sb_theme_iconComplete {
	background-image: url('../images/generic/img_complete.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 24px;
	height: 24px;
	display: inline-block;
	float: left;
	margin: -2px 10px 0px 0px;
}
#sayso-starbar #starbar-player-console h3.sb_theme_iconComplete {
	background-image: url('../images/generic/img_complete.png');
	background-repeat: no-repeat;
	background-position: 3px 0px;
	width: auto;
	display: inline-block;
	float: left;
	position: absolute;
	padding: 3px 0px 3px 35px;
	margin: 15px 0px 0px 0px;
}
#sayso-starbar #starbar-player-console .sb_pointsEarned {
	background-repeat: no-repeat;
	background-position: right 0px;
	height: 24px;
	display: inline-block;
	float: right;
	margin: -2px 0px 0px 0px;
	padding: 0px 12px 0px 0px;
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	color: #000;
}
#sayso-starbar #starbar-player-console .sb_theme_bgGradient {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.22, rgb(6,106,145)), color-stop(0.61, rgb(9,54,77)));
	background-image: -moz-linear-gradient( center top, rgb(6,106,145) 22%, rgb(9,54,77) 61%);
	background-color: #084865;
}
#sayso-starbar #starbar-player-console .sb_theme_button {
	border-right: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.22, rgb(6,106,145)), color-stop(0.61, rgb(9,54,77)));
	background-image: -moz-linear-gradient( center top, rgb(6,106,145) 22%, rgb(9,54,77) 61%);
	background-color: #084865;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #fff !important;
	padding: 5px 10px;
	box-shadow: 0px 0px 3px #666;
	-moz-box-shadow: 0px 0px 3px #666;
	-webkit-box-shadow: 0px 0px 3px #666;
	position: relative;
}
#sayso-starbar #starbar-player-console .sb_theme_button span.sb_theme_buttonArrow {
	background-image: url('../images/generic/img_arrow_white_lg.png');
	background-repeat: no-repeat;
	background-position: right 50%;
	display: inline-block;
	padding: 0px 15px 0px 0px;
}
/* outline list to mimic the look of the accordion */

#sayso-starbar #starbar-player-console .sb_outlineList {
	margin: 10px 0px;
	list-style: none;
}
#sayso-starbar #starbar-player-console .sb_outlineList li {
	border: 1px solid #c7c7c7;
	margin: 5px 0px 0px 0px;
	overflow: hidden;
	position: relative;
}
#sayso-starbar #starbar-player-console .sb_outlineList li h3 {
	font-size: 15px;
	position: relative;
}
#sayso-starbar #starbar-player-console .sb_img_doubleValue {
	width: 25px;
	height: 22px;
	float: left;
	background-image: url('../images/generic/img_coin_double.png');
	background-repeat: no-repeat;
	margin: -2px 5px 0px -5px;
}
/* dividing lines between list items */
#sayso-starbar #starbar-player-console .sb_lineList {
	margin: 0px 0px 5px 0px;
	list-style: none;
}
#sayso-starbar #starbar-player-console .sb_lineList li {
	border-bottom: 1px solid #929292;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	padding: 10px 0px;
	position: relative;
}
/* solid, alternating background list */

#sayso-starbar #starbar-player-console .sb_solidList {
	margin: 10px 0px;
	list-style: none;
	overflow: hidden;
	display: block;
}
#sayso-starbar #starbar-player-console .sb_solidList li {
	border-bottom: 1px solid #c7c7c7;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	position: relative;
}
#sayso-starbar #starbar-player-console .sb_solidList li.sb_listOdd {
	background-color: #e3e3e3;
}
#sayso-starbar #starbar-player-console .sb_solidList li.sb_listEven {
	background-color: #d2d2d2;
}
/* facebook / twitter connect icons */

#sayso-starbar a.sb_connect_facebook {
	width: 53px;
	height: 64px;
	text-indent: -9999px;
	display: inline-block;
	background-image: url('../images/generic/img_connect_facebook.png');
	background-repeat: no-repeat;
	background-position: -56px 0px;
	margin: 0px 5px 5px 0px;
}
#sayso-starbar a.sb_connect_twitter {
	width: 53px;
	height: 64px;
	text-indent: -9999px;
	display: inline-block;
	background-image: url('../images/generic/img_connect_twitter.png');
	background-repeat: no-repeat;
	margin: 0px 5px 5px 0px;
	background-position: -56px 0px;
}
#sayso-starbar a.sb_unconnected:hover {
	background-position: 0px 0px;
	opacity: 0.5;
}
#sayso-starbar a.sb_connected {
	background-position: 0px 0px;
}
/* JQUERY EDIT IN PLACE */

#sayso-starbar .sb_jeip-saving {
  background-repeat: no-repeat;
	background-position: left;
	background-color: #903;
	color: #fff;
	font-size: 20px;
	padding: 3px 20px 3px 20px;
}
#sayso-starbar .sb_jeip-mouseover, 
#sayso-starbar .sb_jeip-editfield {
	background-color: #ffff99;
	padding: 5px;
}
#sayso-starbar .sb_jeip-savebutton {
	background-color: #6c0;
	color: #fff;
}
#sayso-starbar .sb_jeip-cancelbutton {
	background-color: #ccc;
	color: #fff;
}
