#sayso-starbar #starbar-player-console{
	background-image: url('../images/hellomusic/bg_bar.png');
}

/* turn off starbar type background + switcher */
#sayso-starbar #starbar-player-console #starbar-type .sb_changeTheme{
	display: none;
}

/* starbar type logo + content area */
#sayso-starbar #starbar-player-console #starbar-type .sb_logo{
	width: 78px;
	height: 37px;
	margin: 5px 0px 0px 0px;
}

#sayso-starbar #starbar-player-console #starbar-type .sb_userImg{
	width: 32px;
	height: 35px;
	position: absolute;
	left: 100px;
	top: 22px;
	cursor: pointer;
}

#sayso-starbar #starbar-player-console #starbar-type .sb_content{
	width: 82px;
	top: 22px;
}

#sayso-starbar #starbar-player-console #starbar-type .sb_content h2{
	font-size: 13px;
}

#sayso-starbar #starbar-player-console #starbar-type .sb_content img{
	float: left;
	margin: 0px 5px 0px 0px;
}


/* special color classes */
#sayso-starbar #starbar-player-console .sb_theme_navOnGradient{
	background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.22, rgb(102,102,102)),
    color-stop(0.61, rgb(255,255,255)));
	background-image: -moz-linear-gradient(
			center top,
			rgb(102,102,102) 22%,
			rgb(255,255,255) 61%);
	background-color# ccc;
}

#sayso-starbar #starbar-player-console .sb_theme_bgGradient, 
#sayso-starbar .sb_ui-progressbar .sb_ui-progressbar-value,
#sayso-starbar #starbar-player-console .sb_theme_button{
	background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.22, rgb(22,141,202)),
    color-stop(0.61, rgb(7,61,89)));
	background-image: -moz-linear-gradient(
			center top,
			rgb(22,141,202) 22%,
			rgb(7,61,89) 61%);
	background-color: #0081c5;
}

#sayso-starbar #starbar-player-console .sb_theme_textHighlight{
	color: #0082c5 !important;
	text-shadow: none !important;
}

#sayso-starbar #starbar-player-console .sb_theme_bgGlow{
  -moz-box-shadow: 0px 0px 5px #0081c5;
  -webkit-box-shadow: 0px 0px 5px #0081c5;
  box-shadow: 0px 0px 5px #0081c5;
}

#sayso-starbar #starbar-player-console .sb_theme_iconChange{
	background-image: url('../images/hellomusic/img_change.png');
	background-repeat: no-repeat;
	background-position: right 3px;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	padding: 0px 13px 0px 0px;
}

/* promo area */

#sayso-starbar #starbar-player-console #starbar-promo{
	z-index: 1000;
	position: absolute;
	left: 606px;
	bottom: 0;
	height: 53px;
}

/* user level / progress area */

#sayso-starbar #starbar-player-console #starbar-level{
	z-index: 1000;
	position: absolute;
	left: 770px;
	bottom: 0;
	height: 53px;
	width: 140px;
	background-image: url('../images/generic/bg_divider.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
}

#sayso-starbar #starbar-player-console #starbar-level .sb_content{
	padding: 6px 0px 0px 10px;
	position: relative;
}

#sayso-starbar #starbar-player-console #starbar-level .sb_content .sb_user-level{
	text-align: center;
}

#sayso-starbar #starbar-player-console #starbar-level .sb_content .sb_user-level, 
#sayso-starbar #starbar-player-console #starbar-level .sb_content .sb_user-level span{	
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

#sayso-starbar #starbar-player-console #starbar-level .sb_user-level-box{
	margin-top: -2px;
}

#sayso-starbar #starbar-player-console #starbar-points{
	z-index: 1000;
	position: absolute;
	left: 920px;
	bottom: 0;
	height: 53px;
	width: 80px;
	background-image: url('../images/generic/bg_divider.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
}

#sayso-starbar #starbar-player-console #starbar-points .sb_content{
	margin: 8px 0px 0px 5px;
	position: relative;
}


/* REUSABLE: user level box and user score */

#sayso-starbar #starbar-player-console .sb_user-level-box{
	height: 27px;
	position: relative;
	display: block;
}

#sayso-starbar #starbar-player-console .sb_user-points-box{
	height: 37px;
	position: relative;
	display: block;
	padding: 10px 0px 0px 0px;
}

#sayso-starbar #starbar-player-console .sb_user-level-box .sb_user-level-star{
	position: absolute;
	z-index: 1000;
	top: -5px;
	left: 0;
	background-image: url('../images/hellomusic/img_star.png');
	width: 27px;
	height: 27px;
}

#sayso-starbar #starbar-player-console .sb_user-points-box .sb_user-points-note{
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: 0;
	background-image: url('../images/hellomusic/img_note.png');
	width: 26px;
	height: 37px;
}

#sayso-starbar .sb_user-level-box .sb_progressBar,
#sayso-starbar .sb_user-points-box .sb_progressBar{
	border: 2px solid #fff;
	margin: 5px 0px 0px 13px;
	position: relative;
}

#sayso-starbar .sb_user-level-box .sb_progressBar .sb_progressBarValue{
	top: 1px;
}

/* JQUERY OVERRIDES */


/* FORMATTING AND COLOR SETTINGS */

/* everything that has textcolor */

#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-tabs-selected a, 
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-state-disabled a, 
#sayso-starbar #starbar-player-console .sb_ui-tabs .sb_ui-tabs-nav li.sb_ui-state-processing a,
#sayso-starbar a, #sayso-starbar a:link, 
#sayso-starbar a:active, 
#sayso-starbar a:visited,
#sayso-starbar h3.sb_title,
#sayso-starbar h2.sb_title,
#sayso-starbar #starbar-player-console .sb_outlineList li h3{
	color: #0081c5;
}

/* other special formatting styles */

#sayso-starbar h2.sb_title{
	text-transform: uppercase;
}

#sayso-starbar #starbar-player-console .sb_pointsEarned{	
	background-image: url('../images/hellomusic/img_note_sm.png');
}