RewriteEngine On
RewriteRule ^mission/([^/]+)/starbar/(.*)$ ../../missions/starbar/social/$2 [PT,L]
RewriteRule ^mission/([^/]+)/mission/(.*)$ ../../missions/mission/$1/$2 [PT,L]
RewriteRule ^mission/([^/]+)/(.*)$ ../../missions/$2 [PT,L]