/**
 * @author alecksmart
 */
#menu-metrics
{
    color:blue !important;
    text-decoration: underline;
}

div#poll-time
{
    font-size:  smaller;
    text-align: left;
}
div#updates
{
    margin: 4px 0;
    border-top: 1px dotted #fa0;
}
div#update-marker
{
    font-size: smaller;
    background: #fcca8e;
    padding:20px 0;
    text-align:center;
    border-bottom: 1px dotted #555;
}
div#update-marker a
{
    color: #BF5E00;
    text-decoration: none;
    border-bottom: 1px dotted #BF5E00;
}
div#update-marker a:hover
{
    color: #FF7E00 !important;
    border-bottom: 1px dotted #FF7E00 !important;
}
div#update-marker a:hover
{
    color: #0057AE;
}

.updates-row-social
{
    background: #0cbae3;
}
.updates-row-search
{
    background: #7a81c6;
}
.updates-row-page-view
{
    background: #c0e276;
}

div.updates-entry
{
    padding: 4px;
    font-size: small;
    border-bottom: 1px dotted #AAA;
}
div.updates-entry-user
{
    width:40%;
    float:left;
}
div.updates-entry-starbar
{
    width:15%;
    float:left;
}
div.updates-entry-metricsType
{
    width:20%;
    float:left;
}
div.updates-entry-dateTime
{
    width:25%;
    float:left;
}
div.updates-entry-data
{
    font-size: smaller;
    overflow: hidden;
}

div#poll-time
{
    background-color: #F2F2F2;
    box-shadow: 0 1px 0 white inset;
    margin: 10px 0 20px 0;
    padding:10px 0;
    position: relative;
    text-align: center;
}

div#controls
{
    width:auto;
    float:left;
    text-align: left;
    margin-top:2px;
    margin-left:16px;
}
div#last-updated
{
    font-size:  smaller;
    text-align: right;
    width:auto;
    float:right;
    margin-top:4px;
    margin-right:16px;
}

div#controls, div#last-updated
{
    font-size:12px;
}
div#controls select
{
    margin: 0 0 0 0;
}
div#controls label
{
    display:inline;
}
#control-social
{
    magin-left:20px;
}
