body {
	font-family: "proxima-nova";;
	font-size: 15px;
	background-image: url('images/page-background.jpg');
	background-repeat: repeat;
}

#container {
	width: 1040px;
	background-color: #fff;
	box-shadow: 8px 8px 5px -5px #7f7f7f, -8px 8px 5px -5px #7f7f7f;
	margin: 0 auto 20px auto;
}

#header {
	background-image: url('images/header-background.jpg');
	background-repeat: repeat-x;
	padding: 38px 0 0 40px;
	margin: -8px 0 0 0;
	width: 1000px;
	height: 107px;
}

#logo {
	width: 476px;
	height: 90px;
	background-image: url('images/logo.png');
}

#content {
	width: 960px;
	padding: 25px 40px 40px 40px;
	background-color: #fff;
}

h1, h2, h3, b, strong {
	font-weight: 600;
}

h1 {
	margin-top: 30px;
	font-size: 20px;
	color: #1c718f;
}

h1.sectionname {
	cursor: pointer;
}

h1.title span {
	color: black;
	font-size: 20px;
}

h2 {
	font-size: 15px;
	margin-top: 20px;
}

h2.endpointname, h3.example {
	display: inline-block;
	cursor: pointer;
	color: #f66837;
	margin: 10px 0;
}

h3.example {
	margin: 5px 0;
	color: #0fb8f3;
}

.endpoint h3.example {
	margin: 20px 0 0 0;
}

h3 {
	font-size: 15px;
}

div.actionclass {
	width: 940px;
}

div.node {
	margin-left: 20px;
}

div.nodecontainer:after, div.variable:after {
	content: ", ";
}

div.nodecontainer:last-of-type:after, div.variable:last-of-type:after {
	content: "";
}

span.variablename, span.nodename {
	font-weight: 600;
}

span.variablevalue {
	font-style: italic;
	color: #999;
}

span.variablename, span.variablevalue {
	display: inline;
}

div.json {
	font: 12px Fixed, monospace;
	padding: 10px;
	margin: 10px 0 20px 0;
	background-color: #F9F9F9;
	border: 1px solid #DDD;
}

div.faketable {
	display: table;
	width: 100%;
}

div.fakerow, div.fakeheaderrow {
	display: table-row;
}

div.fakerow div, div.fakeheaderrow div {
	display: table-cell;
	padding: 5px;
	border-width: 1px 0 0 1px;
	border-color: #CCC;
	border-style: solid;
}

div.fakeheaderrow div {
	font-weight: 600;
}

div.fakerow:last-child div {
	border-width: 1px 0 1px 1px;
}

div.fakerow div:last-child, div.fakeheaderrow div:last-child {
	border-width: 1px 1px 0 1px;
}

div.fakerow:last-child div:last-child {
	border-width: 1px 1px 1px 1px;
}

span.required, div.required span.variablename, div.parameter.required div:first-child {
	color: #f66837;
}

div.sectioncontents, div.endpointcontents {
	display: none;
	margin-bottom: 30px;
}

div.section {
	padding-left: 30px;
	position: relative;
}

div.endpoint {
	padding-left: 35px;
	position: relative;
}

div.sectiontriangle {
	background-image: url('images/blue-arrow-right.png');
	background-repeat: no-repeat;
	transition: all 0.5s ease;
	width: 17px;
	height: 19px;
	position: absolute;
	top: 2px;
	left: 0px;
}

div.endpointtriangle {
	background-image: url('images/orange-arrow-right.png');
	background-repeat: no-repeat;
	transition: all 0.2s ease-out;
	width: 17px;
	height: 19px;
	position: absolute;
	top: 9px;
	left: 10px;
}

.shown div.sectiontriangle, .endpoint.shown div.endpointtriangle {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.shown div.sectioncontents, .endpoint.shown div.endpointcontents {
	display: block;
}

.notes {
	padding: 8px;
	font-size: 10px;
	background-color: #EEE;
	color: #555;
	margin-top: 5px;
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	background: #333;
	color: #DDD;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
	font-size: 10px;
}
