@import "generic";

@theme-color-text: #ffffff;
@theme-color-links: #c02526;
@theme-color-text-secondary: darken(@theme-color-links, 15%);
@theme-color-text-headings: darken(@theme-color-links, 30%);
@theme-color-text-inverse: white;
@theme-color-progress-bar-background: black;
@theme-color-progress-bar-gradient-start: #c31324;
@theme-color-progress-bar-gradient-end: #70080c;
@theme-color-progress-bar-gradient-fallback: #c31324;
@theme-color-nav-help-links: white;
@theme-color-nav-help-links-separator: rgba(255, 255, 255, .25);
@theme-color-nav-button-gradient-start: #c31324;
@theme-color-nav-button-gradient-end: #70080c;
@theme-color-nav-button-top-gradient-start: #5e6467;
@theme-color-nav-button-top-gradient-end: #e8ebed;
@theme-color-section-background: #ffffff;
@theme-color-section-border: #383838;
@base-image-url: "../../images/machinimareload";

#sayso-app-container {
	#sayso-nav-logo-container {
		div#sayso-nav-logo {
			&:hover {
				background-position: 0px -34px;
			}
		}
	}

    #sayso-nav-theme-logo {
        bottom: 44px;
        left: 114px;
        width: 210px;
    }

	#sayso-nav-profile-container {
		top: -33px;
		height: 86px;

		#sayso-nav-profile-bubble-top {
			background-image: none;
			display: none;
		}

		#sayso-nav-profile-logo {
			left: 13px;
			top: 7px;
			width: 147px;
			height: 33px;
		}

		#sayso-nav-profile-user-image {
			width: 50px;
			height: 48px;
			left: 16px;
			top: 35px;
		}

		#sayso-nav-profile-text {
			top: 47px;
			left: 82px;
		}
	}

    #sayso-nav-promos-container {
        display: none;
    }

    .sayso-nav-theme-button-container {
        background-image: url('@{base-image-url}/nav-background.png');

        .sayso-nav-theme-button {
            background-color: rgba(0, 0, 0, .2);

            .sayso-nav-theme-button-top {
                background-image: url('@{base-image-url}/nav-top-background.png');
            }
        }

        &:hover { /* when you hover over the container, change the gradient of the top of the button */
            .vertical-gradient(@theme-color-nav-button-gradient-start, @theme-color-nav-button-gradient-start, @theme-color-nav-button-gradient-start);
            .sayso-nav-theme-button {
                background-color: transparent;
                .sayso-nav-theme-button-top {
                    .box-shadow(0px 2px 5px 1px black);
                    border-top: 1px solid white;
                    .vertical-gradient(@theme-color-nav-button-gradient-start, @theme-color-nav-button-gradient-start, @theme-color-nav-button-gradient-start);
                }
            }
        }
    }

    #sayso-nav-experience-container {
        width: 155px;

        &:hover {
            background-color: rgba(0, 0, 0, .25);
        }

        #sayso-nav-experience-level
        {
            font-size: 8px;
            margin-top: 3px;
            margin-left: 10px;
            text-align: left;
        }

        .sayso-progress-bar-container {
            background-color: transparent;
            background-image: url('@{base-image-url}/meter-main-xp.png');
            background-repeat: no-repeat;
            border: none;
            .border-radius(0px);
            .box-shadow();
            margin: 0;
            padding-left: 22px;
            padding-right: 25px;
            width: 112px;
            height: 31px;
            top: 2px;
            left: 10px;

            .sayso-progress-bar-icon-experience {
                top: -1px;
                left: 2px;
            }

            .sayso-progress-bar {
                position: relative;
                height: 29%;
                top: 11px;
            }

            .sayso-progress-bar-value {
                position: relative;
            }
        }
    }

    #sayso-nav-redeemable-container {
        left: 900px;
        width: 95px;

        &:hover {
            background-color: rgba(0, 0, 0, .25);
        }

        .sayso-progress-bar-container {
            border: none;
            .border-radius(0px);
            background-color: transparent;
            background-image: url('@{base-image-url}/meter-main-coins.png');
            background-repeat: no-repeat;
            .box-shadow();
            margin: 22px 0 0 10px;
            width: 78px;
            height: 30px;
            top: -7px;


            .sayso-progress-bar-icon-redeemable {
                top: -1px;
                left: 0px;
            }

            .sayso-progress-bar-value {
                top: 9px;
                margin-left: 10px;
            }

        }
    }

}

#sayso-section-container {

	#sayso-section {
        background-color: transparent;
        border: 8px solid rgba(255, 255, 255, .3);
        .box-shadow(0 3px 4px #333);

		.sayso-heading-text {
			font-weight: bold;
			font-size: 12px;
			line-height: 18px;
		}
	}

    &.sayso-section-about {
        #sayso-section {
            background-image: url('@{base-image-url}/section-about-background.png');
            background-repeat: no-repeat;
            #sayso-section-header {
                background-position: 10px 10px;
            }

            #sayso-section-body {
            }
        }

        #sayso-section-triangle-white {
            display: none;
        }

        #sayso-section-triangle-grey {
            border-color: rgba(255, 255, 255, .175) transparent;
        }
    }

    &.sayso-section-polls {
        #sayso-section {
            background-image: url('@{base-image-url}/section-polls-background.png');
            background-repeat: no-repeat;
        }

        #sayso-section-triangle-white {
            display: none;
        }

        #sayso-section-triangle-grey {
            border-color: rgba(255, 255, 255, .175) transparent;
        }
    }

	&.sayso-section-user-profile, &.sayso-section-tour-user-profile {
		#sayso-section {
            background-image: url('@{base-image-url}/section-profile-background.png');
            background-repeat: no-repeat;
			bottom: 48px;

            #sayso-section-body {
                height: 300px;

                #sayso-user-profile-column-right {
                    #sayso-user-profile-level{
                        height: 60px;
                    }
                }

                #sayso-user-profile-column-left {
                    #sayso-user-profile-user {
                        background-image: url('@{base-image-url}/section-user-profile-avatar.png');;
                    }
                }
            }
        }

		#sayso-section-triangle-white {
            display: none;
		}

		#sayso-section-triangle-grey {
			top: -48px;
            border-color: rgba(255, 255, 255, .175) transparent;
		}
	}

    &.sayso-section-surveys, &.sayso-section-tour-surveys {
        #sayso-section {
            background-image: url('@{base-image-url}/section-surveys-background.png');
            background-repeat: no-repeat;
        }

        #sayso-section-triangle-white {
            display: none;
        }

        #sayso-section-triangle-grey {
            border-color: rgba(255, 255, 255, .175) transparent;
        }
    }

    &.sayso-section-trailer, &.sayso-section-tour-spotlight {
        #sayso-section {
            width: 560px;
            height: 500px;
            background-image: url('@{base-image-url}/section-spotlight-background.png');
            background-repeat: no-repeat;

            #sayso-section-body {
                height: 456px;
            }
        }

        #sayso-section-triangle-white {
            display: none;
        }

        #sayso-section-triangle-grey {
            border-color: rgba(255, 255, 255, .175) transparent;
        }
    }

    &.sayso-section-experience, &.sayso-section-tour-experience {
        #sayso-section {
            width: 570px;
            height: 320px;
            background-image: url('@{base-image-url}/section-profile-background.png');
            background-repeat: no-repeat;
            #sayso-section-body {
                #sayso-experience-levels-container {
                    .sayso-experience-levels-nav {
                        background-position: center;
                    }
                }
            }

        }

        #sayso-section-triangle-white {
            display: none;
        }

        #sayso-section-triangle-grey {
            border-color: rgba(255, 255, 255, .175) transparent;
        }
    }

    &.sayso-section-rewards, &.sayso-section-tour-rewards {
        #sayso-section {
            background-image: url('@{base-image-url}/section-rewards-background.png');
            background-repeat: no-repeat;
            background-color: transparent;

            #sayso-section-header {
                background-color: transparent;
            }

            #sayso-section-body {
                background-color: transparent;

                .sayso-reward-item {
                    background-color: transparent;
                    background-image: url('@{base-image-url}/section-rewards-item-background.png');
                    background-repeat: no-repeat;

                    .sayso-reward-item-header {
                        background-color: transparent;
                        color: white;
                        font-weight: normal;
                    }

                    .sayso-reward-item-img {
                        background-color: transparent;
                    }

                    .sayso-reward-item-bottom {

                        .sayso-reward-item-points-box {
                            background-color: transparent;
                            background-image: url('@{base-image-url}/meter-rewards.png');
                            background-repeat: no-repeat;
                            background-position: center;

                            .sayso-reward-item-points-logo {
                                left: 22px;
                            }

                            .sayso-reward-item-progress-bar-container {
                                background-color: transparent;
                                border: none;
                                .border-radius(0px);
                                .box-shadow();

                                .sayso-reward-item-progress-bar {
                                    display: none;
                                }

                                .sayso-reward-item-progress-bar-value {
                                    top: 15px;
                                    margin-left: 5px;
                                }
                            }
                        }

                        .sayso-reward-item-comment {
                            margin-top: -4px;
                        }

                        .sayso-reward-item-redeem {
                            border: none;
                            .border-radius(0px);
                            background-color: transparent;
                            background-image: url('@{base-image-url}/section-rewards-redeem-button.png');
                            background-position: center;
                            background-repeat: no-repeat;
                            .box-shadow();

                            &.disabled {
                                background-image: url('@{base-image-url}/section-rewards-redeem-button-disabled.png');
                            }
                        }
                    }
                }
            }

        }

        #sayso-section-triangle-white {
            display: none;
        }

        #sayso-section-triangle-grey {
            border-color: rgba(255, 255, 255, .175) transparent;
        }
    }
}

