/*
	ColorBox Core Style
*/
#sb_colorbox, #sb_cboxOverlay, #sb_cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	overflow:hidden;
}
#sb_cboxOverlay {
	position:fixed;
	width:100%;
	height:100%;
}
#sb_cboxMiddleLeft, #sb_cboxBottomLeft {
	clear:left;
}
#sb_cboxContent {
	position:relative;
}
#sb_cboxLoadedContent {
	overflow:auto;
}
#sb_cboxTitle {
	margin:0;
}
#sb_cboxLoadingOverlay, #sb_cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
#sb_cboxPrevious, #sb_cboxNext, #sb_cboxClose, #sb_cboxSlideshow {
	cursor:pointer;
}
.sb_cboxPhoto {
	float:left;
	margin:auto;
	border:0;
	display:block;
}
.sb_cboxIframe {
	width:100%;
	height:100%;
	display:block;
	border:0;
}
/* 

	User Style:

	Change the following styles to modify the appearance of ColorBox.  They are

	ordered & tabbed in a way that represents the nesting of the generated HTML.

*/

#sb_cboxOverlay {
	background:#000;
}
#sb_colorbox {
}
#sb_cboxContent {
	margin-top:20px;
}
#sb_cboxError {
	padding:50px;
	border:1px solid #ccc;
}
#sb_cboxLoadedContent {
	border:5px solid #000;
	background:#fff;
}
#sb_cboxTitle {
	position:absolute;
	top:-20px;
	left:0;
	color:#ccc;
}
#sb_cboxCurrent {
	position:absolute;
	top:-20px;
	right:0px;
	color:#ccc;
}
#sb_cboxSlideshow {
	position:absolute;
	top:-20px;
	right:90px;
	color:#fff;
}
#sb_cboxPrevious {
	position:absolute;
	top:50%;
	left:5px;
	margin-top:-32px;
	width:28px;
	height:65px;
	text-indent:-9999px;
}
#sb_cboxPrevious.hover {
	background-position:bottom left;
}
#sb_cboxNext {
	position:absolute;
	top:50%;
	right:5px;
	margin-top:-32px;
	width:28px;
	height:65px;
	text-indent:-9999px;
}
#sb_cboxNext.hover {
	background-position:bottom right;
}
#sb_cboxLoadingOverlay {
	background:#000;
}
#sb_cboxLoadingGraphic {
	background:url(../images/colorbox/loading.gif) no-repeat center center;
}
#sb_cboxClose {
	position:absolute;
	top:5px;
	right:5px;
	display:block;
	width:38px;
	height:19px;
	text-indent:-9999px;
	z-index: 9999;
}
#sb_cboxClose.hover {
	background-position:bottom center;
}


/* OVERRIDES TO POSITION IT DIRECTLY OVER THE REWARDS POPBOX */

#sb_cboxOverlay{
	width: 535px !important;
	height: 412px !important;
	left: auto;
	top: auto;
	right: 1px !important;
	bottom: 70px !important;
	position: absolute !important;
	z-index: 9999;
}

#sb_colorbox{
	position: absolute !important;
	top: auto !important;
	left: auto !important;
	right: 150px;
	bottom: 90px;
}