@import "elements";
@color-base: #7C7A7A;
@bg-base: #000000;
@theme-color-primary: #FFFFFF;
@theme-color-secondary: #C02526;
@theme-text-primary: #FFFFFF;
@theme-text-secondary: #C02526;
@theme-text-important: #F6AA30;
@theme-text-link: #7C7A7A;
@header-height: 108px;
@header-padding-right: 75px;
@font-size: 14px;

.zero {
  padding: 0;
  margin: 0;
}

.proxima_nova_thin {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 100;
}

.proxima_nova_light {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 300;
}

.proxima_nova_regular {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
}

.proxima_nova_bold {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* Body */
body {
  background: @bg-base;
  .zero;
}

/* Header */
header {
  .zero;
  margin-top: -10px; //WHY!!!! Fix this w/ reset.less or something.
  background-image: url('images/navbar_gradient.png');
  background-repeat: repeat-x;
  height: @header-height;
}

#banner_logo {
  padding-top: 20px;
  padding-left: 40px;
}

#login {
  float: right;
  clear: both;
  padding-right: @header-padding-right;

  input {
    margin-left: 5px;
    margin-right: 5px;
    background-color: @theme-color-primary;
    border: 1px solid @theme-color-secondary;
    .inner-shadow(1px, 1px, 3px, 0.7);
  }

  img {
    margin-left: 7px;
    vertical-align: middle;
  }
}

/* Nav */
nav {
  float: right;
  margin-top: 5px;
  width: 350px;

  li {
    display: inline;
    color: @color-base;

    a {
      color: @theme-text-link;
      font-size: @font-size;
      text-decoration: none;
      .proxima_nova_regular;
    }

  }

  li:after {
    /* add the pipe between menu items */
    content: "|";
    padding-left: 14px;
    padding-right: 10px;
    color: white;
  }

  li:last-child:after  {
    /* remove the pipe from the last list item */
    content: "";
  }

  ul {
    list-style: none;
  }
}

/* Content */

#content_container {
  color: @theme-text-primary;
}

/* Welcome Page */

.welcome_container {
  margin-left: 10%;
}

.welcome_header {
  .proxima_nova_thin;
  font-size: @font-size + 56;
  margin-bottom: 0;
}

.welcome_content {
  margin-top: 0;
  .proxima_nova_light;
  letter-spacing: 1px;
  font-size: @font-size + 2;
  width: 60%;
  text-wrap: normal;

}

.welcome_join_now {
  .proxima_nova_regular;
  font-size: @font-size + 6;

  img {
    vertical-align: middle;
    padding-bottom: 3px;
  }
}