@import "elements";
@color-base: #7C7A7A;
@bg-base: #000000;
@theme-color-primary: #FFFFFF;
@theme-color-secondary: #BE1727;
@theme-text-primary: #FFFFFF;
@theme-text-secondary: #BE1727;
@theme-text-important: #F4AA32;
@theme-text-link: #7C7A7A;
@header-height: 108px;
@header-padding-right: 67px;
@font-size: 12pt;

.zero {
  padding: 0;
  margin: 0;
}

/* Body */
body {
  background: @bg-base;
  .zero;
}

/* Header */
header {
  .zero;
  margin-top: -10px; //WHY!!!! Fix this w/ reset.less or something.
  background-image: url('images/navbar_gradient.png');
  background-repeat: repeat-x;
  height: @header-height;
}

#banner_logo {
  padding-top: 20px;
  padding-left: 40px;
}

#login {
  float: right;
  clear: both;
  padding-right: @header-padding-right;

  input {
    margin-left: 5px;
    margin-right: 5px;
    background-color: @theme-color-primary;
    border: 1px solid @theme-color-secondary;
    .inner-shadow(1px, 1px, 3px, 0.7);
  }

  img {
    margin-left: 7px;
    vertical-align: middle;
  }
}

/* Nav */
nav {
  float: right;
  margin-top: 5px;
  width: 350px;

  li {
    display: inline;
    color: @color-base;

    a {
      color: @theme-text-link;
      font-size: @font-size;
      text-decoration: none;
    }

  }

  li:after {
    /* add the pipe between menu items */
    content: "|";
    padding-left: 14px;
    padding-right: 10px;
    color: white;
  }

  li:last-child:after  {
    /* remove the pipe from the last list item */
    content: "";
  }

  ul {
    list-style: none;
  }
}